<section class="my-account">
    <div class="container">
        <ul>
            <li>
                <a href="#" ui-sref="EditProfile"><span data-hover="Personal&nbsp;Info">Personal Info</span></a>
            </li>
            <li>
                <a href="#" ui-sref="ChangePassword"><span data-hover="Change&nbsp;Password">Change Password</span></a>
            </li>
            <li class="active">
                <a href="#" ui-sref="AddressBook"><span data-hover="Address&nbsp;Book">Address Book</span></a>
            </li>
            <li>
                <a href="#" ui-sref="OrderHistory"><span data-hover="Order&nbsp;History">Order History</span></a>
            </li>
            <li>
                <a href="#" ui-sref="PointsAudit"><span data-hover="Audit&nbsp;Points">Audit Points</span></a>
            </li>
        </ul>
    </div>
</section>
<section class="container">
    <div class="account-block">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 address-block">
                    <div class="address-info">
                        <label>Nitin Patel</label>
                        <p>Shaligram House,<br>Behind Rajpath Club,<br>Ahmedabad Gujarat,<br>380059</p>
                        <p>+91 1234567891</p>
                    </div>
                    <div class="update-address">
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 address-block">
                    <div class="address-info">
                        <label>Nitin Patel</label>
                        <p>Shaligram House,<br>Behind Rajpath Club,<br>Ahmedabad Gujarat,<br>380059</p>
                        <p>+91 1234567891</p>
                    </div>
                    <div class="update-address">
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 address-block">
                    <div class="address-info">
                        <label>Nitin Patel</label>
                        <p>Shaligram House,<br>Behind Rajpath Club,<br>Ahmedabad Gujarat,<br>380059</p>
                        <p>+91 1234567891</p>
                    </div>
                    <div class="update-address">
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 address-block">
                    <div class="address-info">
                        <label>Nitin Patel</label>
                        <p>Shaligram House,<br>Behind Rajpath Club,<br>Ahmedabad Gujarat,<br>380059</p>
                        <p>+91 1234567891</p>
                    </div>
                    <div class="update-address">
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 address-block">
                    <div class="address-info">
                        <label>Nitin Patel</label>
                        <p>Shaligram House,<br>Behind Rajpath Club,<br>Ahmedabad Gujarat,<br>380059</p>
                        <p>+91 1234567891</p>
                    </div>
                    <div class="update-address">
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 address-block">
                    <div class="address-info">
                        <label>Nitin Patel</label>
                        <p>Shaligram House,<br>Behind Rajpath Club,<br>Ahmedabad Gujarat,<br>380059</p>
                        <p>+91 1234567891</p>
                    </div>
                    <div class="update-address">
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 address-block">
                    <div class="add-address">
                        <a href="javascript:;">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span>Add New Address</span>
                        </a>
                    </div>
                </div>
                <form class="new-address">
                    <div class="col-sm-12">
                        <div class="block-heading">
                            <h4 class="heading">Add New Address</h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>First Name</label>
                        <input type="text" class="form-control" value="" placeholder="" />
                    </div>
                    <div class="col-sm-4">
                        <label>Last Name</label>
                        <input type="text" class="form-control" value="" />
                    </div>
                    <div class="col-sm-4">
                        <label>Company</label>
                        <input type="text" class="form-control" value="" />
                    </div>
                    <div class="col-sm-4">
                        <label>Address 1</label>
                        <input type="text" class="form-control" value="" />
                    </div>
                    <div class="col-sm-4">
                        <label>Address 2</label>
                        <input type="text" class="form-control" value="" />
                    </div>
                    <div class="col-sm-4">
                        <label>City</label>
                        <input type="text" class="form-control" value="" />
                    </div>
                    <div class="col-sm-4">
                        <label>Post Code</label>
                        <input type="text" class="form-control" value="" />
                    </div>
                    <div class="col-sm-4">
                        <label>Country</label>
                        <div class="dropdown">
                            <button class="form-control dropdown-toggle" type="button" id="country" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Select country
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="country">
                                <li><a href="javascript:;">United Kingdom</a></li>
                                <li><a href="javascript:;">United Kingdom</a></li>
                                <li><a href="javascript:;">United Kingdom</a></li>
                                <li><a href="javascript:;">United Kingdom</a></li>
                                <li><a href="javascript:;">United Kingdom</a></li>
                                <li><a href="javascript:;">United Kingdom</a></li>
                                <li><a href="javascript:;">United Kingdom</a></li>
                                <li><a href="javascript:;">United Kingdom</a></li>
                                <li><a href="javascript:;">United Kingdom</a></li>
                                <li><a href="javascript:;">United Kingdom</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Region / State</label>
                        <div class="dropdown">
                            <button class="form-control dropdown-toggle" type="button" id="country" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Select state
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="country">
                                <li><a href="javascript:;">Aberdeen</a></li>
                                <li><a href="javascript:;">Aberdeenshire</a></li>
                                <li><a href="javascript:;">Anglesey</a></li>
                                <li><a href="javascript:;">Angus</a></li>
                                <li><a href="javascript:;">Argyll and Bute</a></li>
                                <li><a href="javascript:;">Bedfordshire</a></li>
                                <li><a href="javascript:;">Berkshire</a></li>
                                <li><a href="javascript:;">Blaenau Gwent</a></li>
                                <li><a href="javascript:;">Bridgend</a></li>
                                <li><a href="javascript:;">Bristol</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 default-address">
                        <label>Default Address:</label>
                        <div class="radio-btn">
                            <input type="radio" id="yes" name="dafeultAddress" checked />
                            <label for="yes"><span></span>Yes</label>
                            <input type="radio" id="no" name="dafeultAddress" />
                            <label for="no"><span></span>No</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 mt-15 pull-right text-right">
                        <button class="btn btn-empty">Save Address</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $(".add-address a").click(function () {
            $(".new-address").slideToggle();
        });
    });
</script>