<section class="my-account">
    <div class="container">
        <ul>
            <li>
                <a href="#" ui-sref="EditProfile"><span data-hover="Personal&nbsp;Info">Personal Info</span></a>
            </li>
            <li>
                <a href="#" ui-sref="ChangePassword"><span data-hover="Change&nbsp;Password">Change Password</span></a>
            </li>
            <li class="active">
                <a href="#" ui-sref="AddressBook"><span data-hover="Address&nbsp;Book">Address Book</span></a>
            </li>
            <li>
                <a href="#" ui-sref="OrderHistory"><span data-hover="Order&nbsp;History">Order History</span></a>
            </li>
            <li>
                <a href="#" ui-sref="PointsAudit"><span data-hover="Audit&nbsp;Points">Audit Points</span></a>
            </li>
        </ul>
    </div>
</section>
<section class="container" ng-controller="AddressBookController">
    <div class="account-block">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 address-block"  ng-repeat="AddressObj in AddressList">
                    <div class="address-info" data-ng-style="AddressObj.IsDefaultAddress && {'border-color':'green'}">
                        <label ng-bind="AddressObj.firstname+' '+AddressObj.lastname"></label>
                        <p>{{AddressObj.address_1}}<br>{{AddressObj.address_2}}<br>{{AddressObj.city}} <br>{{AddressObj.postcode}}<br />{{AddressObj.county}}</p>
                    </div>
                    <div class="update-address">
                        <a href="" class="cursor-pointer" ng-click="AddORUpdateAddressBinding(AddressObj)"><i class="fa fa-pencil"></i></a>
                        <a href="" class="cursor-pointer" ng-click="DeleteAddress(AddressObj)"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12 address-block">
                    <div class="add-address">
                        <a href="" class="cursor-pointer"  ng-click="AddORUpdateAddressBinding(null)">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span>Add New Address</span>
                        </a>
                    </div>
                </div>
                <form class="new-address" ng-if="NeedToShowAddressDetailForm==1">
                    <div class="col-sm-12">
                        <div class="block-heading">
                            <h4 class="heading">Add New Address</h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>First Name</label>
                        <input type="text" class="form-control" ng-model="AddressObj.firstname" />
                    </div>
                    <div class="col-sm-4">
                        <label>Last Name</label>
                        <input type="text" class="form-control" ng-model="AddressObj.lastname"  />
                    </div>
                    <div class="col-sm-4">
                        <label>Company</label>
                        <input type="text" class="form-control" ng-model="AddressObj.company"  />
                    </div>
                    <div class="col-sm-4">
                        <label>Address 1</label>
                        <input type="text" class="form-control" ng-model="AddressObj.address_1" />
                    </div>
                    <div class="col-sm-4">
                        <label>Address 2</label>
                        <input type="text" class="form-control" ng-model="AddressObj.address_2" />
                    </div>
                    <div class="col-sm-4">
                        <label>City</label>
                        <input type="text" class="form-control" ng-model="AddressObj.city" />
                    </div>
                    <div class="col-sm-4">
                        <label>Post Code</label>
                        <input type="text" class="form-control" ng-model="AddressObj.postcode"  />
                    </div>                 
                    <div class="col-sm-4">
                        <label>Country</label>                     
                        <select ng-options="Country.country_id as Country.name  for Country in CountryList" class="form-control" ng-model="AddressObj.country_id"></select>
                    </div>
                 
                    <div class="col-sm-12 default-address">
                        <label>Default Address:</label>
                        <switch  ng-model="AddressObj.IsDefaultAddress" on="Yes" off="No" class="green"></switch>                     
                    </div>
                    <div class="col-sm-6 col-xs-12 mt-15 pull-right text-right">
                        <button class="btn btn-success cursor-pointer" ng-click="AddOrUpdateAddressDetail(AddressObj)">Save</button>
                        <button class="btn btn-default cursor-pointer" ng-click="CancelAddress()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
