
<section class="my-account">
    <div class="container">
        <ul>
            <li>
                <a href="#" ui-sref="EditProfile"><span data-hover="Personal&nbsp;Info">Personal Info</span></a>
            </li>
            <li class="active">
                <a href="#" ui-sref="ChangePassword"><span data-hover="Change&nbsp;Password">Change Password</span></a>
            </li>
            <li>
                <a href="#" ui-sref="AddressBook" ><span data-hover="Address&nbsp;Book">Address Book</span></a>
            </li>
            <li>
                <a href="#" ui-sref="OrderHistory" ><span data-hover="Order&nbsp;History">Order History</span></a>
            </li>
            <li>
                <a href="#" ui-sref="PointsAudit"><span data-hover="Audit&nbsp;Points">Audit Points</span></a>
            </li>
        </ul>
    </div>
</section>
<section class="container">
    <div class="account-block">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="row">
                <form>
                    <div class="col-sm-12 mb-25">
                        <label>New Passward</label>
                        <input type="password" class="form-control" value="" />
                    </div>
                    <div class="col-sm-12 mb-30">
                        <label>Conform Passward</label>
                        <input type="password" class="form-control" value="" />
                    </div>
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-empty">Update Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>