<section class="my-account">
    <div class="container">
        <ul>
            <li>
                <a href="#" ui-sref="EditProfile"><span data-hover="Personal&nbsp;Info">Personal Info</span></a>
            </li>
            <li>
                <a href="#" ui-sref="ChangePassword"><span data-hover="Change&nbsp;Password">Change Password</span></a>
            </li>
            <li>
                <a href="#" ui-sref="AddressBook"><span data-hover="Address&nbsp;Book">Address Book</span></a>
            </li>
            <li >
                <a href="#" ui-sref="OrderHistory"><span data-hover="Order&nbsp;History">Order History</span></a>
            </li>
            <li class="active">
                <a href="#" ui-sref="RewardPoints"><span data-hover="Reward&nbsp;Points">Reward Points</span></a>
            </li>
        </ul>
    </div>
</section>
<section class="container">
    <div class="account-block reward-points">
        <div class="col-sm-12 table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Withdrawal</th>
                    <th>Deposit</th>
                </tr>
                <tr>
                    <td>18/05/2017</td>
                    <td>orderid#41354</td>
                    <td>383</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>18/05/2017</td>
                    <td>orderid#41354</td>
                    <td>-</td>
                    <td>546</td>
                </tr>
                <tr>
                    <td>18/05/2017</td>
                    <td>orderid#41354</td>
                    <td>383</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>18/05/2017</td>
                    <td>orderid#41354</td>
                    <td>-</td>
                    <td>546</td>
                </tr>
                <tr>
                    <td>18/05/2017</td>
                    <td>orderid#41354</td>
                    <td>383</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>18/05/2017</td>
                    <td>orderid#41354</td>
                    <td>383</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>18/05/2017</td>
                    <td>orderid#41354</td>
                    <td>-</td>
                    <td>546</td>
                </tr>
                <tr>
                    <td>18/05/2017</td>
                    <td>orderid#41354</td>
                    <td>383</td>
                    <td>-</td>
                </tr>
            </table>
        </div>
    </div>
</section>
