<div ng-controller="ShowOrdersController">
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home -</span> {{PageTitle}}</h4>
            </div>
            <div class="heading-elements">
                <div class="heading-btn-group">

                </div>
            </div>
        </div>
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>  This page allows you to lookup orders.</li>
            </ul>
            <ul class="breadcrumb-elements">
                <li><button type="button" class="btn btn-primary btn-md" data-placement="top" data-toggle="tooltip" title="Add Order"><i class="glyphicon glyphicon-plus-sign position-left"></i> Create</button></li>
            </ul>
        </div>
    </div>
    <div class="page-header-content">
        <!--<table class="table table-bordered table-striped datatable-responsive" datatable="ng" id="tblOrders" dt-options="dtOptions" width="100%">
            <thead>
                <tr>
                    <th class="text-right">Order ID</th>
                    <th>Customer</th>
                    <th>Status</th>
                    <th class="text-right">Total</th>
                    <th>Date Added</th>
                    <th>Date Modified</th>
                    <th class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Item in orderList">
                    <td class="text-right" ng-bind="Item.order_id" ></td>
                    <td ng-bind="Item.customer"></td>
                    <td ng-bind="Item.OrderStatusName"></td>
                    <td ng-bind="Item.total" class="text-right"></td>
                    <td ng-bind="Item.date_added | date: 'dd/MM/yyyy'"></td>
                    <td ng-bind="Item.date_modified | date: 'dd/MM/yyyy'"></td>
                    <td class="cursor-pointer text-right" data-placement="top" data-toggle="tooltip">
                        <a ui-sref="Orders({OrderId:Item.order_id})"><i class="glyphicon glyphicon-eye-close cursor-pointer" title="view"></i></a>
                        <i class="glyphicon glyphicon-edit cursor-pointer" title="edit"></i>
                        <i class="glyphicon glyphicon-erase cursor-pointer" title="delete"></i>
                    </td>
                </tr>
            </tbody>
        </table>-->

        <table id="tblOrders" class="table table-bordered table-striped datatable-responsive" width="100%">
            <thead>
                <tr>
                    <th class="text-right">Order ID</th>
                    <th>Customer</th>
                    <th>Status</th>
                    <th class="text-right">Total</th>
                    <th>Date Added</th>
                    <th>Date Modified</th>
                    <th class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>
