<div ng-controller="DashboardController">
    <div class="container-fluid">
        <div class="col-md-9 col-xs-12 mb-30">
            <div class="row">
                <div class="col-sm-12 banner-slider">
                    <ul class="main-banner">
                        <li><img src="~/Content/layout1/images/sliderBanner1.jpg" alt="Slider banner" /></li>
                        <li><img src="~/Content/layout1/images/sliderBanner2.jpg" alt="Slider banner" /></li>
                        <li><img src="~/Content/layout1/images/sliderBanner1.jpg" alt="Slider banner" /></li>
                        <li><img src="~/Content/layout1/images/sliderBanner2.jpg" alt="Slider banner" /></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12 white-bg">
                        <div class="block-heading">
                            <h4>Best Sellers</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="best-seller content inner ">
                                    <div class="seller-block">
                                        <div class="col-xs-4">
                                            <img class="full-width" src="~/Content/layout1/images/bestSeller.jpg" alt="seller" />
                                        </div>
                                        <div class="col-xs-8">
                                            <p class="seller-desc">Amazon e-voucher</p>
                                            <p class="seller-desc"><span>40 Points</span></p>
                                        </div>
                                    </div>
                                    <div class="seller-block">
                                        <div class="col-xs-4">
                                            <img class="full-width" src="~/Content/layout1/images/bestSeller.jpg" alt="seller" />
                                        </div>
                                        <div class="col-xs-8">
                                            <p class="seller-desc">Amazon e-voucher</p>
                                            <p class="seller-desc"><span>40 Points</span></p>
                                        </div>
                                    </div>
                                    <div class="seller-block">
                                        <div class="col-xs-4">
                                            <img class="full-width" src="~/Content/layout1/images/bestSeller.jpg" alt="seller" />
                                        </div>
                                        <div class="col-xs-8">
                                            <p class="seller-desc">Amazon e-voucher</p>
                                            <p class="seller-desc"><span>40 Points</span></p>
                                        </div>
                                    </div>
                                    <div class="seller-block">
                                        <div class="col-xs-4">
                                            <img class="full-width" src="~/Content/layout1/images/bestSeller.jpg" alt="seller" />
                                        </div>
                                        <div class="col-xs-8">
                                            <p class="seller-desc">Amazon e-voucher</p>
                                            <p class="seller-desc"><span>40 Points</span></p>
                                        </div>
                                    </div>
                                    <div class="seller-block">
                                        <div class="col-xs-4">
                                            <img class="full-width" src="~/Content/layout1/images/bestSeller.jpg" alt="seller" />
                                        </div>
                                        <div class="col-xs-8">
                                            <p class="seller-desc">Amazon e-voucher</p>
                                            <p class="seller-desc"><span>40 Points</span></p>
                                        </div>
                                    </div>
                                    <div class="seller-block">
                                        <div class="col-xs-4">
                                            <img class="full-width" src="~/Content/layout1/images/bestSeller.jpg" alt="seller" />
                                        </div>
                                        <div class="col-xs-8">
                                            <p class="seller-desc">Amazon e-voucher</p>
                                            <p class="seller-desc"><span>40 Points</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 mb-30">
            <div class="col-sm-12 block-bg deals">
                <div class="block-heading">
                    <h4>Hot Deals</h4>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="hot-deals">
                        <div class="media col-sm-12">
                            <div class="media-left">
                                <img class="media-object" src="~/Content/layout1/images/deals.jpg" alt="deals" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                <p>FPB0024</p>
                                <span>29 Points</span>
                            </div>
                            <div class="add-cart">
                                <button class="btn btn-empty">Add to Cart</button>
                            </div>
                        </div>
                        <div class="media col-sm-12">
                            <div class="media-body">
                                <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                <p>FPB0024</p>
                                <span>29 Points</span>
                            </div>
                            <div class="media-right">
                                <img class="media-object" src="~/Content/layout1/images/deals.jpg" alt="deals" />
                            </div>
                            <div class="add-cart">
                                <button class="btn btn-empty">Add to Cart</button>
                            </div>
                        </div>
                        <div class="media col-sm-12">
                            <div class="media-left">
                                <img class="media-object" src="~/Content/layout1/images/deals.jpg" alt="deals" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                <p>FPB0024</p>
                                <span>29 Points</span>
                            </div>
                            <div class="add-cart">
                                <button class="btn btn-empty">Add to Cart</button>
                            </div>
                        </div>
                        <div class="media col-sm-12">
                            <div class="media-body">
                                <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                <p>FPB0024</p>
                                <span>29 Points</span>
                            </div>
                            <div class="media-right">
                                <img class="media-object" src="~/Content/layout1/images/deals.jpg" alt="deals" />
                            </div>
                            <div class="add-cart">
                                <button class="btn btn-empty">Add to Cart</button>
                            </div>
                        </div>
                        <div class="media col-sm-12">
                            <div class="media-left">
                                <img class="media-object" src="~/Content/layout1/images/deals.jpg" alt="deals" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                <p>FPB0024</p>
                                <span>29 Points</span>
                            </div>
                            <div class="add-cart">
                                <button class="btn btn-empty">Add to Cart</button>
                            </div>
                        </div>
                        <div class="media col-sm-12">
                            <div class="media-body">
                                <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                <p>FPB0024</p>
                                <span>29 Points</span>
                            </div>
                            <div class="media-right">
                                <img class="media-object" src="~/Content/layout1/images/deals.jpg" alt="deals" />
                            </div>
                            <div class="add-cart">
                                <button class="btn btn-empty">Add to Cart</button>
                            </div>
                        </div>
                        <div class="media col-sm-12">
                            <div class="media-left">
                                <img class="media-object" src="~/Content/layout1/images/deals.jpg" alt="deals" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                <p>FPB0024</p>
                                <span>29 Points</span>
                            </div>
                            <div class="add-cart">
                                <button class="btn btn-empty">Add to Cart</button>
                            </div>
                        </div>
                        <div class="media col-sm-12">
                            <div class="media-body">
                                <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                <p>FPB0024</p>
                                <span>29 Points</span>
                            </div>
                            <div class="media-right">
                                <img class="media-object" src="~/Content/layout1/images/deals.jpg" alt="deals" />
                            </div>
                            <div class="add-cart">
                                <button class="btn btn-empty">Add to Cart</button>
                            </div>
                        </div>
                        <div class="media col-sm-12">
                            <div class="media-left">
                                <img class="media-object" src="~/Content/layout1/images/deals.jpg" alt="deals" />
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                <p>FPB0024</p>
                                <span>29 Points</span>
                            </div>
                            <div class="add-cart">
                                <button class="btn btn-empty">Add to Cart</button>
                            </div>
                        </div>
                        <div class="media col-sm-12">
                            <div class="media-body">
                                <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                <p>FPB0024</p>
                                <span>29 Points</span>
                            </div>
                            <div class="media-right">
                                <img class="media-object" src="~/Content/layout1/images/deals.jpg" alt="deals" />
                            </div>
                            <div class="add-cart">
                                <button class="btn btn-empty">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 mb-30">
            <h1 class="main-heding">Bienvenue sur la boutique Make a Difference</h1>
            <div class="row">
                <div class="col-sm-12 welcome-block">
                    <div class="welcome-img">
                        <img src="~/Content/layout1/images/welcomeImg.png" alt="welcome" />
                    </div>
                    <p>Le site Pitney Bowes “Thank You” est l’outil officiel   0de récopense des employés pour leur excellence dans leurs domaines, leur sens du service client irréprochable, leur esprit d’équipe ainsi que leur philosophie de gagnant.</p>
                    <p>De nombreux projets d’équipe sont récompensés par le biais du catalogue cadeau, qui inclut le programme de récompense des employés “Make a Difference” suivant: <a id="readMore" href="javascript:;">Read More</a></p>
                    <div class="more-content">
                        <p>Mettre les clients en avant est une valeur chez une société que les lauréats de la récompense Make a Difference ont su concrétiser. Nous avons tous la faculté de nous engager sur cette valeur. Que vous assistiez des clients internes ou externes, la recherche de l’excellence dans tous les domaines aura une influence sur nos clients et soutiendra notre croissance commerciale.</p>
                        <p>Les lauréats de cette récompense obtiennent des points qu’ils peuvent cumuler et échanger contre une grande variété de cadeaux.</p>
                        <p>Alors, si vous avez reçu des points, GMS Europe vous remercie une fois de plus pour tous vos efforts et vous souhaite une bonne visite dans la boutique.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-xs-12 mt-15 mb-30">
            <div class="col-sm-12 block-bg popular-category">
                <div class="block-heading">
                    <h4>Popular Categories</h4>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-center pb-20">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="~/Content/layout1/images/electronics.png" alt="Electronics" />
                            </div>
                            <p>Electronics</p>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center pb-20">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="~/Content/layout1/images/fashion.png" alt="Fashion" />
                            </div>
                            <p>Fashion</p>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center pb-20">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="~/Content/layout1/images/personalCare.png" alt="Personal Care" />
                            </div>
                            <p>Personal Care</p>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center pb-20">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="~/Content/layout1/images/homeApp.png" alt="Home Appliances" />
                            </div>
                            <p>Home Appliances</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-xs-12 mt-15 mb-30">
            <div class="offer-block new-product">
                <img src="~/Content/layout1/images/offer1.jpg" alt="Offer" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12 mb-20">
                    <div class="block-bg pb-15">
                        <div class="col-sm-12">
                            <div class="block-heading">
                                <h4>Categories</h4>
                            </div>
                        </div>
                        <div class="category-list">
                            <ul class="col-sm-12">
                                <li><a href="#">Apple Products</a></li>
                                <li><a href="#">Baby</a></li>
                                <li><a href="#">Beauty &amp; Fragrance</a></li>
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Computing</a></li>
                                <li><a href="#">Cooking &amp; Dining</a></li>
                                <li><a href="#">Experiences &amp; Vouchers</a></li>
                                <li><a href="#">Gifts Food &amp; Alcohol</a></li>
                                <li><a href="#">Home &amp; Garden</a></li>
                                <li><a href="#">Home Appliances</a></li>
                                <li><a href="#">Pets</a></li>
                                <li><a href="#">Seasonal Events</a></li>
                                <li><a href="#">Smart Tech &amp; Phones</a></li>
                                <li><a href="#">Apple Products</a></li>
                                <li><a href="#">Baby</a></li>
                                <li><a href="#">Beauty &amp; Fragrance</a></li>
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Computing</a></li>
                                <li><a href="#">Cooking &amp; Dining</a></li>
                                <li><a href="#">Experiences &amp; Vouchers</a></li>
                                <li><a href="#">Gifts Food &amp; Alcohol</a></li>
                                <li><a href="#">Home &amp; Garden</a></li>
                                <li><a href="#">Home Appliances</a></li>
                                <li><a href="#">Pets</a></li>
                                <li><a href="#">Seasonal Events</a></li>
                                <li><a href="#">Smart Tech &amp; Phones</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="col-sm-12 block-bg deals special-offer mb-30">
                        <div class="block-heading">
                            <h4>Special Offers</h4>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div id="special-offer">
                                <div class="media col-sm-12">
                                    <div class="media-left">
                                        <img class="media-object" src="~/Content/layout1/images/specialOffer.jpg" alt="special Offer" />
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                        <p>FPB0024</p>
                                        <span>29 Points</span>
                                    </div>
                                    <div class="add-cart">
                                        <button class="btn btn-empty">Add to Cart</button>
                                    </div>
                                </div>
                                <div class="media col-sm-12">
                                    <div class="media-body">
                                        <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                        <p>FPB0024</p>
                                        <span>29 Points</span>
                                    </div>
                                    <div class="media-right">
                                        <img class="media-object" src="~/Content/layout1/images/specialOffer.jpg" alt="Special Offer" />
                                    </div>
                                    <div class="add-cart">
                                        <button class="btn btn-empty">Add to Cart</button>
                                    </div>
                                </div>
                                <div class="media col-sm-12">
                                    <div class="media-left">
                                        <img class="media-object" src="~/Content/layout1/images/specialOffer.jpg" alt="Special Offer" />
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                        <p>FPB0024</p>
                                        <span>29 Points</span>
                                    </div>
                                    <div class="add-cart">
                                        <button class="btn btn-empty">Add to Cart</button>
                                    </div>
                                </div>
                                <div class="media col-sm-12">
                                    <div class="media-body">
                                        <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                        <p>FPB0024</p>
                                        <span>29 Points</span>
                                    </div>
                                    <div class="media-right">
                                        <img class="media-object" src="~/Content/layout1/images/specialOffer.jpg" alt="Special Offer" />
                                    </div>
                                    <div class="add-cart">
                                        <button class="btn btn-empty">Add to Cart</button>
                                    </div>
                                </div>
                                <div class="media col-sm-12">
                                    <div class="media-left">
                                        <img class="media-object" src="~/Content/layout1/images/specialOffer.jpg" alt="Special Offer" />
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                        <p>FPB0024</p>
                                        <span>29 Points</span>
                                    </div>
                                    <div class="add-cart">
                                        <button class="btn btn-empty">Add to Cart</button>
                                    </div>
                                </div>
                                <div class="media col-sm-12">
                                    <div class="media-body">
                                        <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                        <p>FPB0024</p>
                                        <span>29 Points</span>
                                    </div>
                                    <div class="media-right">
                                        <img class="media-object" src="~/Content/layout1/images/specialOffer.jpg" alt="Special Offer" />
                                    </div>
                                    <div class="add-cart">
                                        <button class="btn btn-empty">Add to Cart</button>
                                    </div>
                                </div>
                                <div class="media col-sm-12">
                                    <div class="media-left">
                                        <img class="media-object" src="~/Content/layout1/images/specialOffer.jpg" alt="Special Offer" />
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                        <p>FPB0024</p>
                                        <span>29 Points</span>
                                    </div>
                                    <div class="add-cart">
                                        <button class="btn btn-empty">Add to Cart</button>
                                    </div>
                                </div>
                                <div class="media col-sm-12">
                                    <div class="media-body">
                                        <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                        <p>FPB0024</p>
                                        <span>29 Points</span>
                                    </div>
                                    <div class="media-right">
                                        <img class="media-object" src="~/Content/layout1/images/specialOffer.jpg" alt="Special Offer" />
                                    </div>
                                    <div class="add-cart">
                                        <button class="btn btn-empty">Add to Cart</button>
                                    </div>
                                </div>
                                <div class="media col-sm-12">
                                    <div class="media-left">
                                        <img class="media-object" src="~/Content/layout1/images/specialOffer.jpg" alt="Special Offer" />
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                        <p>FPB0024</p>
                                        <span>29 Points</span>
                                    </div>
                                    <div class="add-cart">
                                        <button class="btn btn-empty">Add to Cart</button>
                                    </div>
                                </div>
                                <div class="media col-sm-12">
                                    <div class="media-body">
                                        <h4 class="media-heading">Longchamp 2.0 Crossbody Bag Black</h4>
                                        <p>FPB0024</p>
                                        <span>29 Points</span>
                                    </div>
                                    <div class="media-right">
                                        <img class="media-object" src="~/Content/layout1/images/specialOffer.jpg" alt="Special Offer" />
                                    </div>
                                    <div class="add-cart">
                                        <button class="btn btn-empty">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12">
            <div class="row">
                <div class="col-sm-12 latest-product mb-30">
                    <div class="block-heading">
                        <h4>Latest Products</h4>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div id="latest-product">
                            <div class="col-sm-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <img src="~/Content/layout1/images/product1.jpg" alt="latest product" />
                                    </div>
                                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                                    <p>LONG - 00024</p>
                                    <p><span>539 points</span></p>
                                    <div class="row">
                                        <button class="btn btn-default">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <img src="~/Content/layout1/images/product1.jpg" alt="latest product" />
                                    </div>
                                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                                    <p>LONG - 00024</p>
                                    <p><span>539 points</span></p>
                                    <div class="row">
                                        <button class="btn btn-default">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <img src="~/Content/layout1/images/product1.jpg" alt="latest product" />
                                    </div>
                                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                                    <p>LONG - 00024</p>
                                    <p><span>539 points</span></p>
                                    <div class="row">
                                        <button class="btn btn-default">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <img src="~/Content/layout1/images/product1.jpg" alt="latest product" />
                                    </div>
                                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                                    <p>LONG - 00024</p>
                                    <p><span>540 points</span></p>
                                    <div class="row">
                                        <button class="btn btn-default">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <img src="~/Content/layout1/images/product1.jpg" alt="latest product" />
                                    </div>
                                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                                    <p>LONG - 00024</p>
                                    <p><span>539 points</span></p>
                                    <div class="row">
                                        <button class="btn btn-default">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <img src="~/Content/layout1/images/product1.jpg" alt="latest product" />
                                    </div>
                                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                                    <p>LONG - 00024</p>
                                    <p><span>539 points</span></p>
                                    <div class="row">
                                        <button class="btn btn-default">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <img src="~/Content/layout1/images/product1.jpg" alt="latest product" />
                                    </div>
                                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                                    <p>LONG - 00024</p>
                                    <p><span>540 points</span></p>
                                    <div class="row">
                                        <button class="btn btn-default">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <img src="~/Content/layout1/images/product1.jpg" alt="latest product" />
                                    </div>
                                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                                    <p>LONG - 00024</p>
                                    <p><span>539 points</span></p>
                                    <div class="row">
                                        <button class="btn btn-default">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-block">
                                    <div class="product-img">
                                        <img src="~/Content/layout1/images/product1.jpg" alt="latest product" />
                                    </div>
                                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                                    <p>LONG - 00024</p>
                                    <p><span>539 points</span></p>
                                    <div class="row">
                                        <button class="btn btn-default">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 mb-30">
                    <div class="offer-block">
                        <img src="~/Content/layout1/images/offer2.jpg" alt="offer" />
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 mb-30">
                    <div class="offer-block">
                        <img src="~/Content/layout1/images/offer3.jpg" alt="offer" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.main-banner').bxSlider({
            pager: false,
            nextText: '',
            prevText: '',
            mode: 'fade'
        });
        $.mCustomScrollbar.defaults.theme = 'dark-thick';
        $('.best-seller').mCustomScrollbar({
            axis: "x",
            advanced: { autoExpandHorizontalScroll: true }
        });
        $('.hot-deals, #special-offer').bxSlider({
            pager: false,
            nextText: '',
            prevText: '',
            minSlides: 2,
            maxSlides: 1,
            mode: 'vertical'
        });       
        $('.category-list').mCustomScrollbar();
    });
</script>
