
CordobaWeb/obj/
*.dll
*.pdb
*.Cache
*.exe
*.user
*.suo

*.force
*.xml
*.Cache
 
CordobaWeb/bin/
CordobaWeb/obj/
CordobaWeb/obj/Debug/

CordobaAPI/bin/
CordobaAPI/obj/
CordobaServices/bin/

CordobaCommon/obj/
CordobaModels/bin/
CordobaModels/obj/
CordobaModels/obj/Debug/
CordobaAPI/obj/
CordobaServices/obj/
CordobaModels/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CordobaModels/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CordobaModels/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CordobaAPI/Properties/PublishProfiles/Web.pubxml
CordobaWeb/Properties/PublishProfiles/Publish.pubxml
CordobaAPI/Properties/PublishProfiles/API.pubxml
CordobaWeb/Properties/PublishProfiles/WEB.pubxml
