<div class="product-detail">
    <div class="container">
        <div class="col-sm-6">
            <div class="image-zooming">
                <div class="product-image">
                    <div class="simpleLens-gallery-container" id="demo-1">
                        <div class="simpleLens-container">
                            <div class="simpleLens-big-image-container">
                                <a class="simpleLens-lens-image" data-lens-image="images/apple-watch-large.png">
                                    <img src="images/apple-watch-small.jpg" class="simpleLens-big-image">
                                </a>
                            </div>
                        </div>

                        <div class="simpleLens-thumbnails-container">
                            <a href="#" class="simpleLens-thumbnail-wrapper"
                               data-lens-image="images/apple-watch1-big.jpg"
                               data-big-image="images/Apple-Watch1-small.jpg">
                                <img src="images/apple-watch1.jpg">
                            </a>

                            <a href="#" class="simpleLens-thumbnail-wrapper"
                               data-lens-image="images/apple-watch2-big.jpg"
                               data-big-image="images/apple-watch2-small.jpg">
                                <img src="images/apple-watch2.jpg">
                            </a>

                            <a href="#" class="simpleLens-thumbnail-wrapper"
                               data-lens-image="images/apple-watch3-big.jpg"
                               data-big-image="images/apple-watch3-small.jpg">
                                <img src="images/apple-watch3.jpg">
                            </a>


                            <a href="#" class="simpleLens-thumbnail-wrapper"
                               data-lens-image="images/apple-watch4-big.jpg"
                               data-big-image="images/apple-watch4-small.jpg">
                                <img src="images/apple-watch4.jpg">
                            </a>
                        </div>
                    </div>

                    <div class="add-cart mt-20 mb-20">
                        <button class="btn btn-default">Add to Cart</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <h3 class="heading">Watch Series 2</h3>

            <div class="review mt-10">
                <div class="ratings">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
                <p> 0 Review </p>
            </div>
            <div class="price mt-10">
                <p>Modal No:</p><span> MNPF2B/A</span>
            </div>
            <div class="price mt-10">
                <span class="points">2,551 Points</span>
            </div>
            <div class="price mt-10">
                <p>Color:</p><span> White</span>
            </div>
            <div class="price mt-10">
                <p>Type:</p><span> MNPF2B/A</span>
            </div>
            <div class="price mt-10">
                <p>Quantity:</p>
                <div id="qty1"></div>
            </div>
            <div class="price mt-10">
                <p class="mt-5">Manufacture By:</p><span> MNPF2B/A </span><img src="images/manufacture.jpg" alt="manufactureImage" />
            </div>
            <div class="price mt-10">
                <p>Supplier:</p><span> MNPF2B/A</span>
            </div>

        </div>
        <div class="col-sm-12 mb-30">
            <div class="description mt-10">
                <div class="block-heading">
                    <h4>Description</h4>
                </div>
                <p class="mt-10">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                <p class="mt-10">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
        </div>
    </div>
</div>

<div class="recently-viewed mb-30">
    <div class="container-fluid">
        <div class="col-sm-12 mt-20 ">
            <div class="col-sm-12">
                <div class="block-heading">
                    <h4>People Also Buy</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-block">
                    <div class="product-img">
                        <img src="images/product1.jpg" alt="latest product" />
                    </div>
                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                    <p>LONG - 00024</p>
                    <p><span>539 points</span></p>
                    <div class="row">
                        <button class="btn btn-default">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-block">
                    <div class="product-img">
                        <img src="images/product1.jpg" alt="latest product" />
                    </div>
                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                    <p>LONG - 00024</p>
                    <p><span>539 points</span></p>
                    <div class="row">
                        <button class="btn btn-default">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-block">
                    <div class="product-img">
                        <img src="images/product1.jpg" alt="latest product" />
                    </div>
                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                    <p>LONG - 00024</p>
                    <p><span>539 points</span></p>
                    <div class="row">
                        <button class="btn btn-default">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-block">
                    <div class="product-img">
                        <img src="images/product1.jpg" alt="latest product" />
                    </div>
                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                    <p>LONG - 00024</p>
                    <p><span>539 points</span></p>
                    <div class="row">
                        <button class="btn btn-default">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-block">
                    <div class="product-img">
                        <img src="images/product1.jpg" alt="latest product" />
                    </div>
                    <a href="#">Longchamp 2.0 Crossbody Bag Black</a>
                    <p>LONG - 00024</p>
                    <p><span>539 points</span></p>
                    <div class="row">
                        <button class="btn btn-default">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>