
<div ng-controller="AddRewardController">
  
    <div class="container">
        <div class="col-sm-6 col-xs-12 mb-30" ng-if="reward_type_id==2" ng-repeat="Item in Customers">
            <div class="block-bg pt-15 pb-15">
                <div class="col-sm-4">
                    <img ng-src="{{Item.CustomerImage}}" class="img-thumbnail" alt="Image" />
                </div>
                <div class="col-sm-8">
                    <p class="emp-name">{{Item.customer}}</p>
                    <div class="medal-rating">
                        <input id="gold{{$index}}" type="radio" name="medal1" value="gold" checked />
                        <label class="medal gold" for="gold{{$index}}">Gold</label>
                        <input id="silver{{$index}}" type="radio" name="medal1" value="silver" />
                        <label class="medal silver" for="silver{{$index}}">Silver</label>
                        <input id="bronze{{$index}}" type="radio" name="medal1" value="bronze" />
                        <label class="medal bronze" for="bronze{{$index}}">Bronze</label>
                    </div>
                    <a class="icon-cmt" id="icon-cmt{{$index}}" ng-click="MakeWriteCmtFadeIn($index)"><i class="fa fa-comments"></i></a>
                </div>
                <div class="write-cmt" id="write-cmt{{$index}}">
                    <textarea class="form-control" placeholder="Write your comment here..."></textarea>
                    <button class="btn btn-empty">Save</button>
                    <a id="close-comment" ng-click="MakeWriteCmtFadeOut($index)">✖</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 mb-30" ng-if="reward_type_id==1" ng-repeat="Item in Customers">
            <div class="block-bg pt-15 pb-15">
                <div class="col-sm-4">
                    <img ng-src="{{Item.CustomerImage}}" class="img-thumbnail" alt="Image" />
                </div>
                <div class="col-sm-8">
                    <p class="emp-name">{{Item.customer}}</p>
                    <div class="start-rating">
                        <angular-star-rating max="maxValue" value='ratingValue' id="ratingValue{{$index}}" hover='changeOnHover'
                                             is-readonly='isReadonly'></angular-star-rating><br />
                        <!--<select id="example{{$index}}"  ng-init="InitStars($index)">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>-->
                        <!--<i class="fa fa-star"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>-->
                    </div>
                    <a class="icon-cmt" id="icon-cmt{{$index}}" ng-click="MakeWriteCmtFadeIn($index)"><i class="fa fa-comments"></i></a>
                </div>
                <div class="write-cmt" id="write-cmt{{$index}}">
                    <textarea class="form-control" id="writeTxtArea{{$index}}" placeholder="Write your comment here..."></textarea>
                    <button class="btn btn-empty" ng-click="AddReward(ratingValue,Item,$index)">Save</button>
                    <a id="close-comment"  ng-click="MakeWriteCmtFadeOut($index)">✖</a>
                </div>
            </div>
        </div>
    </div>

   
</div>

<select id="example" class="exampleCss">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>

<script type="text/javascript">

    $(window).scroll(function () {
        if ($(this).scrollTop() > 1) {
            $('.top-nav').addClass("hidden");
        }
        else {
            $('.top-nav').removeClass("hidden");
        }
    });

    if ($('#back-to-top').length) {
        var scrollTrigger = 100, // px
            backToTop = function () {
                var scrollTop = $(window).scrollTop();
                if (scrollTop > scrollTrigger) {
                    $('#back-to-top').addClass('show');
                } else {
                    $('#back-to-top').removeClass('show');
                }
            };
        backToTop();
        $(window).on('scroll', function () {
            backToTop();
        });
        $('#back-to-top').on('click', function (e) {
            e.preventDefault();
            $('html,body').animate({
                scrollTop: 0
            }, 700);
        });
    }

</script>
