<div ng-controller="DashboardController">
    <div class="slider">
        
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/layout2/images/slide1.jpg" alt="product1">
                </div>

                <div class="item">
                    <img src="~/Content/layout2/images/slide2.jpg" alt="product2">
                </div>

                <div class="item">
                    <img src="~/Content/layout2/images/slide3.jpg" alt="product3">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <img src="~/Content/layout2/images/left-arrow.png" alt="leftarrow" />
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <img src="~/Content/layout2/images/right-arrow.png" alt="rightarrow" />
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="slider_text text-center">
            <div class="container">
                <h1>Bienvenue sur la boutique Make a Difference « thank you</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="read-img">
                    <img src="~/Content/layout2/images/image1.png" alt="slider-image">
                </div>
                <div class="more">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Le site Pitney Bowes “Thank You” est l’outil officiel de récompense des employés pour leur excellence dans leurs domaines, leur sens du service client irréprochable, leur esprit d’équipe ainsi que leur philosophie de gagnant.

                    <p>Le site Pitney Bowes “Thank You” est l’outil officiel de récompense des employés pour leur excellence dans leurs domaines, leur sens du service client irréprochable, leur esprit d’équipe ainsi que leur philosophie de gagnant. Le site Pitney Bowes “Thank You” est l’outil officiel de récompense des employés pour leur excellence dans leurs domaines, leur sens du service client irréprochable, leur esprit d’équipe ainsi que leur philosophie de gagnant.<p>
                </div>
            </div>
        </div>
    </div>

    <div class="catagories_slider">
        <div class="container">
            <div class="col-md-3">
                <div class="letest-product catagories">
                    <h3>CATAGORIES</h3>
                    <div class="content mCustomScrollbar">
                        <ul>
                            <li><a href="">Apple Products</a></li>
                            <li><a href="">Baby</a></li>
                            <li><a href="">Beauty & Fragrance</a></li>
                            <li><a href="">Books</a></li>
                            <li><a href="">Computing</a></li>
                            <li><a href="">Cooking & Dining</a></li>
                            <li><a href="">Home Appliances</a></li>
                            <li><a href="">Smart Phones</a></li>
                            <li><a href="">Sports & Leisure</a></li>
                            <li><a href="">Sunglasses</a></li>
                            <li><a href="">Watches & Jewellery</a></li>
                            <li><a href="">Books</a></li>
                            <li><a href="">Apple Products</a></li>
                            <li><a href="">Baby</a></li>
                            <li><a href="">Beauty & Fragrance</a></li>
                            <li><a href="">Books</a></li>
                            <li><a href="">Apple Products</a></li>
                            <li><a href="">Baby</a></li>
                            <li><a href="">Beauty & Fragrance</a></li>
                            <li><a href="">Books</a></li>
                            <li><a href="">Apple Products</a></li>
                            <li><a href="">Baby</a></li>
                            <li><a href="">Beauty & Fragrance</a></li>
                            <li><a href="">Books</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="products">
                    <div class="letest-product">
                        <h3 class="heading">LETEST PRODUCT</h3>
                        <div class="flexslider carousel">

                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <ul class="slides" style="width: 2400%; transition-duration: 0.6s; transform: translate3d(-1591px, 0px, 0px);">
                                    <li style="width: 200px; margin-right: 15px; float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/letest-product1.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                    <li style="width: 200px; margin-right: 15px; float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/letest-product1.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                    <li style="width: 200px; margin-right: 15px; float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/letest-product1.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                    <li style="width: 200px; margin-right: 15px; float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/letest-product1.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                    <li style="width: 200px; margin-right: 15px; float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/letest-product1.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                    <li style="width: 200px; margin-right: 15px;  float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/letest-product1.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                    <li style="width: 200px; margin-right: 15px; float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/letest-product1.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                    <li style="width: 200px; margin-right: 15px; float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/letest-product1.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="flex-active">3</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li><li class="flex-nav-next"><a class="flex-next" href="#" tabindex="-1"></a></li></ul>
                        </div>
                    </div>
                </div>
                <div class="popular">
                    <div class="row">
                        <div class="popular-catagory">
                            <h4>POPULAR CATAGORIES</h4>
                            <div class="col-sm-3">

                                <div class="letest-product polular_catagories">
                                    <img src="~/Content/layout2/images/popular-catagory1.png" alt="popular-catagory">
                                    <a href="" class="heading_purple">Gifts & Flowers</a>
                                </div>

                            </div>
                            <div class="col-sm-3">

                                <div class="letest-product polular_catagories">
                                    <img src="~/Content/layout2/images/popular-catagory1.png" alt="popular-catagory">
                                    <a href="" class="heading_green">Entertainment</a>
                                </div>

                            </div>
                            <div class="col-sm-3">

                                <div class="letest-product polular_catagories">
                                    <img src="~/Content/layout2/images/popular-catagory1.png" alt="popular-catagory">
                                    <a href="" class="heading_purple">Cleaning Products</a>
                                </div>

                            </div>
                            <div class="col-sm-3">

                                <div class="letest-product polular_catagories">
                                    <img src="~/Content/layout2/images/popular-catagory1.png" alt="popular-catagory">
                                    <a href="" class="heading_green">Mobiles</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="special_offers">
        <div class="container">
            <div class="col-sm-12">
                <div class="letest-product">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="~/Content/layout2/images/special-offers.jpg" alt="special-offers">
                        </div>
                        <div class="col-sm-8">
                            <div class="special-offers">
                                <h3 class="heading">SPECIAL OFFERS</h3>
                                <div class="flexslider carousel">
                                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                        <ul class="slides" style="width: 2400%; transition-duration: 0.6s; transform: translate3d(-1591px, 0px, 0px);">
                                            <li style="width: 100px; margin-top:15px; margin-right: 15px; margin-left: 20px; float: left; display: block;" data-thumb-alt="">
                                                <div class="col-product text-center">
                                                    <img src="~/Content/layout2/images/special-offer1.png" alt="letest-product1">
                                                    <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                                    <p>AP-178</p>
                                                    <span>92 Points</span>
                                                    <div class="cart-btn">
                                                        <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="width: 100px; margin-right: 15px; margin-top:15px; margin-left: 20px; float: left; display: block;" data-thumb-alt="">
                                                <div class="col-product text-center">
                                                    <img src="~/Content/layout2/images/special-offer2.png" alt="letest-product1">
                                                    <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                                    <p>AP-178</p>
                                                    <span>92 Points</span>
                                                    <div class="cart-btn">
                                                        <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="width: 100px; margin-right: 15px; margin-top:15px; margin-left: 20px; float: left; display: block;" data-thumb-alt="">
                                                <div class="col-product text-center">
                                                    <img src="~/Content/layout2/images/special-offer3.png" alt="letest-product1">
                                                    <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                                    <p>AP-178</p>
                                                    <span>92 Points</span>
                                                    <div class="cart-btn">
                                                        <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="width: 100px; margin-right: 15px; margin-top:15px; margin-left: 20px; float: left; display: block;" data-thumb-alt="">
                                                <div class="col-product text-center">
                                                    <img src="~/Content/layout2/images/special-offer4.png" alt="letest-product1">
                                                    <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                                    <p>AP-178</p>
                                                    <span>92 Points</span>
                                                    <div class="cart-btn">
                                                        <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="width: 200px; margin-right: 15px; margin-top:15px; margin-left: 20px; float: left; display: block;" data-thumb-alt="">
                                                <div class="col-product text-center">
                                                    <img src="~/Content/layout2/images/special-offer3.png" alt="letest-product1">
                                                    <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                                    <p>AP-178</p>
                                                    <span>92 Points</span>
                                                    <div class="cart-btn">
                                                        <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="width: 200px; margin-right: 15px; margin-top:15px; margin-left: 20px; float: left; display: block;" data-thumb-alt="">
                                                <div class="col-product text-center">
                                                    <img src="~/Content/layout2/images/special-offer2.png" alt="letest-product1">
                                                    <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                                    <p>AP-178</p>
                                                    <span>92 Points</span>
                                                    <div class="cart-btn">
                                                        <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="width: 200px; margin-right: 15px; margin-top:15px; margin-left: 20px; float: left; display: block;" data-thumb-alt="">
                                                <div class="col-product text-center">
                                                    <img src="~/Content/layout2/images/special-offer4.png" alt="letest-product1">
                                                    <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                                    <p>AP-178</p>
                                                    <span>92 Points</span>
                                                    <div class="cart-btn">
                                                        <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="width: 200px; margin-right: 15px; margin-top:15px; margin-left: 20px; float: left; display: block;" data-thumb-alt="">
                                                <div class="col-product text-center">
                                                    <img src="~/Content/layout2/images/special-offer1.png" alt="letest-product1">
                                                    <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                                    <p>AP-178</p>
                                                    <span>92 Points</span>
                                                    <div class="cart-btn">
                                                        <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                    <ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="flex-active">3</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li><li class="flex-nav-next"><a class="flex-next" href="#" tabindex="-1"></a></li></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="new-arrivals">
        <div class="container">
            <div class="col-md-9 mt-30">
                <div class="new">
                    <img src="~/Content/layout2/images/new-arrivals.png" alt="new-arrivals">

                </div>
            </div>
            <div class="col-md-3">
                <div class="letest-product">
                    <div class="hot-deals">
                        <h2>HOT DEALS</h2>
                        <div class="flexslider carousel">

                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <ul class="slides" style="width: 2400%; transition-duration: 0.6s; transform: translate3d(-1591px, 0px, 0px);">
                                    <li style="width: 200px; margin-right: 15px; float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/hot-deals.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart_green" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                    <li style="width: 200px; margin-right: 15px; float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/hot-deals.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart_green" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                    <li style="width: 200px; margin-right: 15px; float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/hot-deals.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart_green" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                    <li style="width: 200px; margin-right: 15px; float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/hot-deals.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart_green" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                    <li style="width: 200px; margin-right: 15px; float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/hot-deals.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart_green" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                    <li style="width: 200px; margin-right: 15px; float: left; display: block;" data-thumb-alt="">
                                        <div class="col-product text-center">
                                            <img src="~/Content/layout2/images/hot-deals.png" alt="letest-product1">
                                            <h3>Dartington 5 Piece Wine Decanter Set Glitz</h3>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart_green" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="flex-active">3</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li><li class="flex-nav-next"><a class="flex-next" href="#" tabindex="-1"></a></li></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="best-saller">
        <div class="container">
            <div class="col-sm-12">
                <div class="letest-product">
                    <h2>BEST SALLER</h2>
                    <div class="col-sm-2">
                        <div class="saller">
                            <img src="~/Content/layout2/images/best-saller.png" alt="saller">
                            <h4>Currys/PC World £50 Gift Code</h4>
                            <p>40 Points</p>
                            <a href=""><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="saller">
                            <img src="~/Content/layout2/images/best-saller.png" alt="saller">
                            <h4>Currys/PC World £50 Gift Code</h4>
                            <p>40 Points</p>
                            <a href=""><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="saller">
                            <img src="~/Content/layout2/images/best-saller.png" alt="saller">
                            <h4>Currys/PC World £50 Gift Code</h4>
                            <p>40 Points</p>
                            <a href=""><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="saller">
                            <img src="~/Content/layout2/images/best-saller.png" alt="saller">
                            <h4>Currys/PC World £50 Gift Code</h4>
                            <p>40 Points</p>
                            <a href=""><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="saller">
                            <img src="~/Content/layout2/images/best-saller.png" alt="saller">
                            <h4>Currys/PC World £50 Gift Code</h4>
                            <p>40 Points</p>
                            <a href=""><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="saller">
                            <img src="~/Content/layout2/images/best-saller.png" alt="saller">
                            <h4>Currys/PC World £50 Gift Code</h4>
                            <p>40 Points</p>
                            <a href=""><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>

