<div>
    <div class="slider container">
        <div class="banner-slider" ng-controller="Dashboard_BannerController">
            <ul class="main-banner" data-bx-slider="pager:false,nextText:'',prevText:'',mode: 'fade',auto:true">
                <li ng-repeat="Banner in BannerList" data-notify-when-repeat-finished>
                    <img ng-src="{{Banner.Image}}" alt="Slider banner" height="355" width="1115" />
                </li>
            </ul>
        </div>
    </div>
    <div class="catagories_slider">
        <div class="container">
            <div class="col-md-3" ng-controller="Dashboard_CategoryController">
                <div class="letest-product catagories">
                    <h3>CATEGORIES</h3>
                    <div class="content mCustomScrollbar">
                        <ul>
                            <li ng-repeat="category in CategoryList"><a href="" class="cursor-pointer" ui-sref="LayoutCategoryORProductList({CategoryId:category.Category_Id})" ng-bind-html="category.name"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="products letest-product" ng-controller="Dashboard_LatestProductController">
                    <h3 class="heading">LATEST PRODUCT</h3>
                    <div id="latest-product" data-bx-slider="pager: false,nextText: '',prevText: '',minSlides: 1,maxSlides: 4,slideWidth: 250">
                        <div class="col-sm-3" ng-repeat="LatestProduct in LatestProductList" data-notify-when-repeat-finished>
                            <div class="col-product  text-center">
                                <img ng-src='{{LatestProduct.Image}}' alt="latest product">
                                <a ui-sref="LayoutProductDetail({ProductId:LatestProduct.product_id})" ng-bind-html="LatestProduct.name | limitTo: 20" title="{{LatestProduct.name}}"></a>
                                <p ng-bind="LatestProduct.Model"></p>
                                <span ng-bind="LatestProduct.Price+' Points'"></span>
                                <div class="cart-btn" ng-controller="AddProductToCartController">
                                    <input type="button" name="cart_btn" ng-click="AddProductToCart(LatestProduct,$event)" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular" ng-controller="Dashboard_PopularCategoryController">
                    <div class="row">
                        <div class="popular-catagory">
                            <h4>POPULAR CATAGORIES</h4>
                            <div class="col-sm-3" ng-repeat="PopularCategory in PopularCategoryList">
                                <div class="letest-product polular_catagories">
                                    <img ng-src="{{PopularCategory.image}}" alt="{{PopularCategory.name}}" />
                                    <a href="" class="cursor-pointer" ui-sref="LayoutCategoryORProductList({CategoryId:PopularCategory.category_Id})" ng-bind-html="PopularCategory.name"></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="special_offers" ng-controller="Dashboard_SpecialOffersController">
                <div class="container col-sm-12">
                    <div class="letest-product off">
                        <div class="row">
                            <div class="col-sm-4" ng-controller="Dashboard_StoreImageController">
                                <img ng-if="AdvImg.Image!=undefined && AdvImg.Image!='' " src="{{AdvImg.Image}}" class="offerbanner" alt="special-offers" ng-repeat="AdvImg in StoreAdvertisementImageList | filter: { ImageKey: 4 }">
                            </div>
                            <div class="col-sm-8">
                                <div class="special-offers">
                                    <h3 class="heading">SPECIAL OFFERS</h3>
                                    <div id="special-product" data-bx-slider="pager: false,nextText: '',prevText: '',minSlides: 1,maxSlides: 4,slideWidth: 220">
                                        <div class="col-sm-3" ng-repeat="SpecialOffer in SpecialOfferList" data-notify-when-repeat-finished>
                                            <div class="col-product text-center">
                                                <img ng-src="{{SpecialOffer.Image}}" alt="special Offer">
                                               <span><a ui-sref="LayoutProductDetail({ProductId:SpecialOffer.product_id})" ng-bind-html="SpecialOffer.name | limitTo: 20" title="{{SpecialOffer.name}}"></a></span> 
                                                <p ng-bind="SpecialOffer.Model"></p>
                                                <span ng-bind-html="(SpecialOffer.cost | number:2) +' Points'"></span>
                                                <div class="cart-btn" ng-controller="AddProductToCartController">
                                                    <input type="button" name="cart_btn" class="add_cart" ng-click="AddProductToCart(SpecialOffer,$event)" value="ADD TO CART">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="new-arrivals">
                    <div class="container">
                        <div class="col-md-9 mt-30" ng-controller="Dashboard_StoreImageController">
                            <div class="new">
                                <img ng-if="AdvImg.Image!=undefined && AdvImg.Image!='' " src="{{AdvImg.Image}}" class="offerbanner" alt="special-offers" ng-repeat="AdvImg in StoreAdvertisementImageList | filter: { ImageKey: 5 }">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="letest-product" ng-controller="Dashboard_HotDealsController">
                                <div class="hot-deals">
                                    <h3 class="heading">HOT DEALS</h3>
                                    <div id="hot-product" data-bx-slider="pager: false,nextText: '',prevText: '',minSlides: 1,maxSlides: 4,slideWidth: 300">
                                        <div class="col-sm-3" ng-repeat="HotDeals in HotDealsList" data-notify-when-repeat-finished>
                                            <div class="col-product text-center">
                                                <img ng-src="{{HotDeals.Image}}" alt="deals">
                                                <a ui-sref="LayoutProductDetail({ProductId:HotDeals.product_id})" ng-bind="HotDeals.name"></a>
                                                <p ng-bind="HotDeals.Model" class="ho"></p>
                                                <span ng-bind="(HotDeals.cost | number:2) +' Points'"></span>
                                                <div class="cart-btn" ng-controller="AddProductToCartController">
                                                    <input type="button" name="cart_btn" ng-click="AddProductToCart(HotDeals,$event)" class="add_cart" value="ADD TO CART">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="best-saller" ng-controller="Dashboard_BestSellerController">
                <div class="container col-sm-12">
                    
                    <div class="letest-product">
                    <h3 class="heading">BEST SELLER</h3>
                        <div class="best-seller" data-bx-slider="pager:false,nextText:'',prevText:'',minSlides: 1,maxSlides: 5,slideWidth: 250">
                            <div class="col-sm-2" ng-repeat="BestSeller in BestSellerList " data-notify-when-repeat-finished>
                                <div class="saller">
                                    <img ng-src="{{BestSeller.Image}}" alt="saller">
                                    <br />
                                    <a ui-sref="LayoutProductDetail({ProductId:BestSeller.product_id})" ng-bind-html="BestSeller.name"></a>        
                                    <p ng-bind="BestSeller.Model"></p>                            
                                    <p ng-bind="BestSeller.Price +' Points'"></p>
                                    <a href="" class="cursor-pointer" ng-controller="AddProductToCartController"><span class="glyphicon glyphicon-shopping-cart" ng-click="AddProductToCart(BestSeller,$event)" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>                                    
        </div>
    </div>
</div>
<script type="text/javascript">  
    $(document).ready(function () {
        $.mCustomScrollbar.defaults.theme = 'dark-thick';
        $('.category-list').mCustomScrollbar();
    });

</script>