<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pitney Bowes</title>
</head>
<body>
    <div class="slider">
        <div class="banner-slider" ng-controller="dashboard_bannercontroller">
            <ul class="main-banner">
                <li><img src="images/slide1.jpg" alt="Slider banner" /></li>
                <li><img src="images/slide2.jpg" alt="Slider banner" /></li>
                <li><img src="images/slide3.jpg" alt="Slider banner" /></li>
                <li><img src="images/slide2.jpg" alt="Slider banner" /></li>
            </ul>
        </div>
    </div>


    <div class="catagories_slider">
        <div class="container">
            <div class="col-md-3">
                <div class="letest-product catagories">
                    <h3>CATAGORIES</h3>
                    <div class="content mCustomScrollbar">
                        <ul>
                            <li><a href="#">Apple Products</a></li>
                            <li><a href="#">Baby</a></li>
                            <li><a href="#">Beauty & Fragrance</a></li>
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Computing</a></li>
                            <li><a href="#">Cooking & Dining</a></li>
                            <li><a href="#">Home Appliances</a></li>
                            <li><a href="#">Smart Phones</a></li>
                            <li><a href="#">Sports & Leisure</a></li>
                            <li><a href="#">Sunglasses</a></li>
                            <li><a href="#">Watches & Jewellery</a></li>
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Apple Products</a></li>
                            <li><a href="#">Baby</a></li>
                            <li><a href="#">Beauty & Fragrance</a></li>
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Apple Products</a></li>
                            <li><a href="#">Baby</a></li>
                            <li><a href="#">Beauty & Fragrance</a></li>
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Apple Products</a></li>
                            <li><a href="#">Baby</a></li>
                            <li><a href="#">Beauty & Fragrance</a></li>
                            <li><a href="#">Books</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-9 ">
                <div class="products letest-product">
                    <h3 class="heading">LETEST PRODUCT</h3>
                    <div id="latest-product">
                        <div class="col-sm-3">
                            <div class="col-product text-center">
                                <img src="images/letest-product1.png" alt="letest-product1">
                                <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                <p>AP-178</p>
                                <span>92 Points</span>
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-product text-center">
                                <img src="images/letest-product1.png" alt="letest-product1">
                                <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                <p>AP-178</p>
                                <span>92 Points</span>
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-product text-center">
                                <img src="images/letest-product1.png" alt="letest-product1">
                                <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                <p>AP-178</p>
                                <span>92 Points</span>
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-product text-center">
                                <img src="images/letest-product1.png" alt="letest-product1">
                                <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                <p>AP-178</p>
                                <span>92 Points</span>
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-product text-center">
                                <img src="images/letest-product1.png" alt="letest-product1">
                                <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                <p>AP-178</p>
                                <span>92 Points</span>
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-product text-center">
                                <img src="images/letest-product1.png" alt="letest-product1">
                                <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                <p>AP-178</p>
                                <span>92 Points</span>
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="popular">
                    <div class="row">
                        <div class="popular-catagory">
                            <h4>POPULAR CATAGORIES</h4>
                            <div class="col-sm-3">

                                <div class="letest-product polular_catagories">
                                    <img src="images/popular-catagory1.png" alt="popular-catagory">
                                    <a href="#" class="heading_purple">Gifts & Flowers</a>
                                </div>

                            </div>
                            <div class="col-sm-3">

                                <div class="letest-product polular_catagories">
                                    <img src="images/popular-catagory1.png" alt="popular-catagory">
                                    <a href="#" class="heading_purple">Entertainment</a>
                                </div>

                            </div>
                            <div class="col-sm-3">

                                <div class="letest-product polular_catagories">
                                    <img src="images/popular-catagory1.png" alt="popular-catagory">
                                    <a href="#" class="heading_purple">Cleaning Products</a>
                                </div>

                            </div>
                            <div class="col-sm-3">

                                <div class="letest-product polular_catagories">
                                    <img src="images/popular-catagory1.png" alt="popular-catagory">
                                    <a href="#" class="heading_purple">Mobiles</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="special_offers">
        <div class="container">
            <div class="col-sm-12">
                <div class="letest-product">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="images/special-offers.jpg" alt="special-offers">
                        </div>
                        <div class="col-sm-8">
                            <div class="special-offers">
                                <h3 class="heading">SPECIAL OFFERS</h3>
                                <div id="special-product">
                                    <div class="col-sm-3">
                                        <div class="col-product text-center">
                                            <img src="images/special-offer1.png" alt="letest-product1">
                                            <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-product text-center">
                                            <img src="images/special-offer2.png" alt="letest-product1">
                                            <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-product text-center">
                                            <img src="images/special-offer3.png" alt="letest-product1">
                                            <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-product text-center">
                                            <img src="images/special-offer4.png" alt="letest-product1">
                                            <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-product text-center">
                                            <img src="images/special-offer1.png" alt="letest-product1">
                                            <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-product text-center">
                                            <img src="images/special-offer3.png" alt="letest-product1">
                                            <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                            <p>AP-178</p>
                                            <span>92 Points</span>
                                            <div class="cart-btn">
                                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="new-arrivals">
        <div class="container">
            <div class="col-md-9 mt-30">
                <div class="new">
                    <img src="images/new-arrivals.png" alt="new-arrivals">

                </div>
            </div>
            <div class="col-md-3">
                <div class="letest-product">
                    <div class="hot-deals">
                        <h3 class="heading">HOT DEALS</h3>
                        <div id="hot-product">
                            <div class="col-sm-3">
                                <div class="col-product text-center">
                                    <img src="images/hot-deals.png" alt="letest-product1">
                                    <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                    <p>AP-178</p>
                                    <span>92 Points</span>
                                    <div class="cart-btn">
                                        <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-product text-center">
                                    <img src="images/hot-deals.png" alt="letest-product1">
                                    <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                    <p>AP-178</p>
                                    <span>92 Points</span>
                                    <div class="cart-btn">
                                        <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-product text-center">
                                    <img src="images/hot-deals.png" alt="letest-product1">
                                    <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                    <p>AP-178</p>
                                    <span>92 Points</span>
                                    <div class="cart-btn">
                                        <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-product text-center">
                                    <img src="images/hot-deals.png" alt="letest-product1">
                                    <a href="#">Dartington 5 Piece Wine Decanter Set Glitz</a>
                                    <p>AP-178</p>
                                    <span>92 Points</span>
                                    <div class="cart-btn">
                                        <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="best-saller">
        <div class="container">
            <div class="col-sm-12">
                <div class="letest-product">
                    <h3 class="heading">BEST SALLER</h3>
                    <div class="col-sm-2">
                        <div class="saller">
                            <img src="images/best-saller.png" alt="saller">
                            <h4>Currys/PC World £50 Gift Code</h4>
                            <p>40 Points</p>
                            <a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="saller">
                            <img src="images/best-saller.png" alt="saller">
                            <h4>Currys/PC World £50 Gift Code</h4>
                            <p>40 Points</p>
                            <a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="saller">
                            <img src="images/best-saller.png" alt="saller">
                            <h4>Currys/PC World £50 Gift Code</h4>
                            <p>40 Points</p>
                            <a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="saller">
                            <img src="images/best-saller.png" alt="saller">
                            <h4>Currys/PC World £50 Gift Code</h4>
                            <p>40 Points</p>
                            <a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="saller">
                            <img src="images/best-saller.png" alt="saller">
                            <h4>Currys/PC World £50 Gift Code</h4>
                            <p>40 Points</p>
                            <a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="saller">
                            <img src="images/best-saller.png" alt="saller">
                            <h4>Currys/PC World £50 Gift Code</h4>
                            <p>40 Points</p>
                            <a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal" id="myModal" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-body">
                        <a href="#" class="bottom-close" data-dismiss="modal">No Thanks</a>
                        <div class="login_page_left">
                            <h2>Login</h2>
                            <img src="images/online-shopping.png" class="pt-20" alt="online-shopping">
                        </div>
                        <div class="login_page_right">
                            <div class="form-group pt-20">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <a class="forgot-password pull-right" href="#">Forgot Password ?</a>
                                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                            </div>
                            <div class="chekbox-main checkbox mr-20">
                                <input type="checkbox" id="checkbox1" />
                                <label for="checkbox1">Remember me</label>
                            </div>
                            <button type="submit" class="submit_btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-overlay"></div>
    <div class="about-us">
        <div id="aboutScroll">
            <a href="javascript:;" class="showDesc">About Us</a>
            <h2>Bienvenue sur la boutique Make a Difference</h2>
            <div class="col-sm-12 welcome-block">
                <div class="welcome-img">
                    <img src="images/welcomeImg.png" alt="welcome" />
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <div class="more-content">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <a id="readMore" href="javascript:;">Read More</a>
            </div>
        </div>
    </div>

    <div class="container">
        <a href="#" id="back-to-top" title="Back to top">
            &uarr;
        </a>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('.main-banner').bxSlider({
                pager: false,
                nextText: '',
                prevText: '',
                mode: 'fade'
            });
            $('#latest-product').bxSlider({
                pager: false,
                nextText: '',
                prevText: '',
                minSlides: 1,
                maxSlides: 4,
                slideWidth: 270
            });
            $('#special-product').bxSlider({
                pager: false,
                nextText: '',
                prevText: '',
                minSlides: 1,
                maxSlides: 4,
                slideWidth: 180
            });
            $('#hot-product').bxSlider({
                pager: false,
                nextText: '',
                prevText: '',
                minSlides: 1,
                maxSlides: 4,
                slideWidth: 250
            });

            //go to top page
            if ($('#back-to-top').length) {
                var scrollTrigger = 100, // px
                    backToTop = function () {
                        var scrollTop = $(window).scrollTop();
                        if (scrollTop > scrollTrigger) {
                            $('#back-to-top').addClass('show');
                        } else {
                            $('#back-to-top').removeClass('show');
                        }
                    };
                backToTop();
                $(window).on('scroll', function () {
                    backToTop();
                });
                $('#back-to-top').on('click', function (e) {
                    e.preventDefault();
                    $('html,body').animate({
                        scrollTop: 0
                    }, 700);
                });
            }

            //about-us jquery
            $(".category-list, #aboutScroll").mCustomScrollbar();
            $(".showDesc").click(function () {
                var hidden = $(".about-us");
                if (hidden.hasClass("visible")) {
                    hidden.animate({ "right": "-350px" }, "slow").removeClass("visible");
                    $(".showDesc").animate({ "right": "-54px" }, "slow").removeClass("visible");
                    $(".showDesc").text("About Us");
                    $(".about-overlay").fadeOut("slow");

                } else {
                    hidden.animate({ "right": "0px" }, "slow").addClass("visible");
                    $(".showDesc").animate({ "right": "296px" }, "slow").addClass("visible");
                    $(".showDesc").text("Close");
                    $(".about-overlay").fadeIn("slow");
                }
            });
            $('#readMore').click(function () {
                $('.more-content').slideToggle();

                var LinkText = $("#readMore").text();
                LinkText = LinkText.replace(/\s/g, '');
                if (LinkText == "ReadMore") {
                    $("#readMore").text("Read Less");
                }
                else {
                    $("#readMore").text("Read More");
                }
            });
        });


        //header-fixed
        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('.top-header').addClass("hidden");
            }
            else {
                $('.top-header').removeClass("hidden");
            }
        });

    </script>
</body>
</html>