     <div class="container" ng-controller="CartDetailController">
    <div class="order-detail cart-detail mt-30">
        <div class="col-sm-12">
            <div class="points">
                <p>Payment of {{AllItemTotal}} points has been received.</p>
            </div>
        </div>


        <div class="col-sm-8">
            <div class="orders" ng-repeat="Item in CartItemList">

                <div class="order-desc">
                    <div class="col-md-7 col-sm-8">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img class="media-object" ng-src="{{Item.ProductImage}}" alt="product"></a>

                            </div>
                            <div class="media-body">
                                <a ui-sref="LayoutProductDetail({ProductId:Item.product_id})" class="media-heading" ng-bind="Item.name"></a>
                                <p class="model-no"><span>Modal Number:</span>{{Item.model}}</p>
                                <p class="model-no"><span>Quantity:</span> {{Item.quantity}}</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-5 col-sm-4">
                        <p class="product-price"><span>Points:</span> {{Item.price}}</p>
                        <p class="product-price"><span>Subtotal: {{Item.total}}</span></p>
                    </div>


                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="orders">
                <div class="address">
                    <div class="addess-heading">
                        <h2>Delivery Address</h2>
                        <div class="delivery-address">
                            <a href="#" ui-sref="AddressBook">Add New</a>
                        </div>
                    </div>
                    <div class="addess-desc mt-20">
                        <h4>{{CustomerDetail.firstname}} {{CustomerDetail.lastname}}</h4>
                        <p>{{SelectedCustomerAddress.address_1}} <br> {{SelectedCustomerAddress.address_2}}, <br> {{SelectedCustomerAddress.postcode}},{{SelectedCustomerAddress.city}}, <br> {{SelectedCustomerAddress.county}}</p>
                    </div>
                </div>
            </div>
            <div class="chckout-add">
                <a href="javascript:;"><i class="fa fa-angle-left"></i></a>
                <p>{{SelectedCustomerAddress.address_1}} {{SelectedCustomerAddress.address_2}},{{SelectedCustomerAddress.postcode}},{{SelectedCustomerAddress.city}}</p>
                <a href="javascript:;"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="orders">
                <div class="address">
                    <div class="addess-heading">
                        <h2>Comment</h2>
                    </div>

                    <div class="addess-desc mt-20">
                        <textarea class="form-control comment" rows="2" id="comment"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="orders">
                <div class="address">
                    <div class="addess-heading">
                        <h2>Payment Summary</h2>
                    </div>

                    <div class="payment-summary mt-20" ng-repeat="Item in CartItemList">
                        <p>- {{Item.name}} </p>
                        <p ng-bind="Item.total"></p>
                    </div>
                    <div class="payment-summary total">
                        <span>Order Total:</span>
                        <span>{{AllItemTotal}} points</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/enhance.js"></script>
    <script src="js/velocity.min.js"></script>




    <script type="text/javascript">
    $(document).ready(function(){
      //productimage zooming

      // aboutus
      $(".category-list, #aboutScroll").mCustomScrollbar();
      $(".showDesc").click(function () {
			var hidden = $(".about-us");
			if (hidden.hasClass("visible")) {
				hidden.animate({ "right": "-350px" }, "slow").removeClass("visible");
				$(".showDesc").animate({ "right": "-54px" }, "slow").removeClass("visible");
				$(".showDesc").text("About Us");
				$(".about-overlay").fadeOut("slow");

			} else {
				hidden.animate({ "right": "0px" }, "slow").addClass("visible");
				$(".showDesc").animate({ "right": "296px" }, "slow").addClass("visible");
				$(".showDesc").text("Close");
				$(".about-overlay").fadeIn("slow");
			}
		});
        $('#readMore').click(function () {
			$('.more-content').slideToggle();

			var LinkText = $("#readMore").text();
			LinkText = LinkText.replace(/\s/g, '');
			if (LinkText == "ReadMore") {
				$("#readMore").text("Read Less");
			}
			else {
				$("#readMore").text("Read More");
			}
		});

      //go to top
      if ($('#back-to-top').length) {
        var scrollTrigger = 100, // px
            backToTop = function () {
                var scrollTop = $(window).scrollTop();
                if (scrollTop > scrollTrigger) {
                    $('#back-to-top').addClass('show');
                } else {
                    $('#back-to-top').removeClass('show');
                }
            };
        backToTop();
        $(window).on('scroll', function () {
            backToTop();
        });
        $('#back-to-top').on('click', function (e) {
            e.preventDefault();
            $('html,body').animate({
                scrollTop: 0
            }, 700);
          });
        }
    });

    //headertop fixed
    $(window).scroll(function() {
    if ($(this).scrollTop() > 1){
        $('.top-header').addClass("hidden");
      }
      else{
        $('.top-header').removeClass("hidden");
      }
    });
 $(document).ready(function(){
    var native_width = 0;
  var native_height = 0;
  $(".large").css("background","url('" + $(".small").attr("src") + "') no-repeat");
  $(".magnify").mousemove(function(e){
    if(!native_width && !native_height)
    {
      var image_object = new Image();
      image_object.src = $(".small").attr("src");
      native_width = image_object.width;
      native_height = image_object.height;
    }
    else
    {
      var magnify_offset = $(this).offset();
      var mx = e.pageX - magnify_offset.left;
      var my = e.pageY - magnify_offset.top;
      if(mx < $(this).width() && my < $(this).height() && mx > 0 && my > 0)
      {
        $(".large").fadeIn(100);
      }
      else
      {
        $(".large").fadeOut(100);
      }
      if($(".large").is(":visible"))
      {
        var rx = Math.round(mx/$(".small").width()*native_width - $(".large").width()/2)*-1;
        var ry = Math.round(my/$(".small").height()*native_height - $(".large").height()/2)*-1;
        var bgp = rx + "px " + ry + "px";
        var px = mx - $(".large").width()/2;
        var py = my - $(".large").height()/2;
        $(".large").css({left: px, top: py, backgroundPosition: bgp});
      }
    }
  })
    });

    </script>
