<div ng-controller="ShowCustomerController">
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home -</span> {{PageTitle}}</h4>
            </div>
            <div class="heading-elements">
                <div class="heading-btn-group">

                </div>
            </div>
        </div>
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>  This page allows you to lookup Customers.</li>
            </ul>
            <ul class="breadcrumb-elements">
                <li><button type="button" class="btn btn-primary btn-md" data-placement="top" data-toggle="tooltip" title="Add Currrency" ui-sref="ManageCustomer"><i class="glyphicon glyphicon-plus-sign position-left"></i> Create</button></li>
            </ul>
        </div>
    </div>
    <div class="page-header-content">
        <table class="table table-bordered  table-striped datatable-responsive" datatable="ng" id="tblCustomer" dt-options="dtOptions" width="100%">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Email</th>
                    <th>Customer Group</th>
                    <th>Status</th>
                    <th>IP</th>
                    <th>Created Date</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Item in CustomerList">
                    <td ng-bind="Item.customerName"></td>
                    <td ng-bind="Item.email"></td>
                    <td ng-bind="Item.customer_group_name"></td>
                    <td ng-bind="Item.StatusName"></td>
                    <td ng-bind="Item.ip"></td>
                    <td ng-bind="Item.CreatedDate"></td>
                    <td class="cursor-pointer text-center" data-placement="top" data-toggle="tooltip" title="Edit" ui-sref="ManageCustomer({CustomerId:Item.customer_id})"><i class="glyphicon glyphicon-edit cursor-pointer"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>












