<div ng-controller="CartDetailController">
    <section class="my-account">
        <div class="container">
            <ul>
                <li>
                    <p class="bag-desc">{{AllItemTotal}} Points will be deducted from your account.</p>

               
                </li>
                <p class="bag-desc pull-right">Available Points={{CustomerAvailablePoints}}</p>
            </ul>

        </div>
    </section>
    <section class="container cart-desc">
        <div class="col-sm-8">
            <div class="account-block">
                <div class="cart-detail" ng-repeat="Item in CartItemList">
                    <div class="row">
                        <div class="col-md-7 col-sm-8">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" ng-src="{{Item.ProductImage}}" alt="Image">
                                    <div class="stock-img"></div>
                                </div>
                                <div class="media-body">
                                    <a ui-sref="LayoutProductDetail({ProductId:Item.product_id})" class="media-heading" ng-bind="Item.name"></a>
                                    <p class="model-no"><span>Modal Number:</span>{{Item.model}}</p>
                                    <p class="model-no"><span>Quantity:</span> {{Item.quantity}}</p>
                                    <!--<p class="stock-desc">Out of Stock</p>-->
                                    <!--<label class="stock-label"><i class="fa fa-warning"></i>This item will not be included in order</label>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-4">
                            <p class="product-price"><span>Points:</span> {{Item.price}}</p>
                            <p class="product-price">Subtotal: {{Item.total}}</p>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
        <div class="col-sm-4 order-desc">
            <div class="account-block delivery-detail">
                <h4 class="payment-heading">Delivery Address</h4>
                <div class="delivery-address">
                    <a href="#">Add New</a>
                </div>
                <div class="payment-summary">
                    <span>Nitin Patel</span>
                    <p>100, College Road, Harrow, London Ha1 1BQ </p>
                </div>
            </div>
            <div class="chckout-add">
                <a href="javascript:;"><i class="fa fa-angle-left"></i></a>
                <p>100, College Road, Harrow, London Ha1 1BQ</p>
                <a href="javascript:;"><i class="fa fa-angle-right"></i></a>
            </div>
            <div class="account-block comment">
                <h4 class="payment-heading">Comment</h4>
                <div class="payment-summary">
                    <textarea class="form-control" ng-model="PlaceOrderObj.Comment" placeholder="Write your comment here..."></textarea>
                </div>
            </div>
            <div class="account-block">
                <h4 class="payment-heading">Payment Summary</h4>
                <div class="payment-summary">
                    <ul>
                        <li ng-repeat="Item in CartItemList"><p>-{{Item.name}}</p>
                            <p ng-bind="Item.total"></p>
                        </li>                      
                    </ul>
                 
                    <!--<p>- Apple 5W USB Power Adapter</p>
                    <p>50 points</p>-->
                </div>
                <div class="payment-summary last">
                    <span>Order Total:</span>
                    <span>{{AllItemTotal}} points</span>
                </div>
                <div class="checkout-block">
                    <!-- <button class="btn btn-empty">Checkout</button> -->
                    <a ng-click="PlaceOrder()" class="btn btn-empty">Place Order</a>
                </div>
            </div>
        </div>
    </section>
</div>