

<div class="catagories_slider productlist" ng-controller="ProductListLayoutController">
    <div class="container">
        <div class="col-md-3">
            <div class="letest-product catagories">
                <h3>CATAGORIES</h3>
                <div class="content mCustomScrollbar">
                    <ul>
                        <li ng-class="SelectedCategory.parent_Id==category.Category_Id? 'active' : '' " ng-if="category.parent_Id==0" ng-repeat="category in CategoryList">
                            <a href="#" ng-bind-html="category.name" ui-sref="LayoutCategory({CategoryId:category.Category_Id})"></a>
                            <ul class="sub-catagory">
                                <li ng-class="SelectedCategoryId==SubCategory.Category_Id? 'active' : '' " ng-if="(category.Category_Id==SubCategory.parent_Id)" ng-repeat="SubCategory in CategoryList | filter:{ parent_Id: ParentCategoryId }">
                                    <a href="#" ui-sref="LayoutProducts({CategoryId:SubCategory.Category_Id})">{{SubCategory.name}}</a>
                                </li>
                                <!--<li><a href="#">iPhone 7 Plus</a></li>
                                <li><a href="#">Watch Hermes</a></li>
                                <li><a href="#">Watch Series 2</a></li>
                                <li><a href="#">iMac</a></li>
                                <li><a href="#">Cables & Docks</a></li>
                                <li><a href="#">Apple TV</a></li>
                                <li><a href="#">Beats</a></li>-->
                            </ul>
                        </li>
                        <!--<li><a href="#">Baby</a></li>
                        <li><a href="#">Beauty & Fragrance</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Computing</a></li>
                        <li><a href="#">Cooking & Dining</a></li>
                        <li><a href="#">Home Appliances</a></li>
                        <li><a href="#">Smart Phones</a></li>
                        <li><a href="#">Sports & Leisure</a></li>
                        <li><a href="#">Sunglasses</a></li>
                        <li><a href="#">Watches & Jewellery</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Apple Products</a></li>
                        <li><a href="#">Baby</a></li>
                        <li><a href="#">Beauty & Fragrance</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Apple Products</a></li>
                        <li><a href="#">Baby</a></li>
                        <li><a href="#">Beauty & Fragrance</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Apple Products</a></li>
                        <li><a href="#">Baby</a></li>
                        <li><a href="#">Beauty & Fragrance</a></li>
                        <li><a href="#">Books</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 ">
            <div class="mt-30">
                <h3 class="heading" ng-bind="SelectedCategory.name"></h3>
                <div class="col-sm-3" ng-repeat="product in ProductList">
                    <div class="col-product text-center">
                        <div class="background-bg">
                            <img ng-src="{{product.Image}}" alt="product" />
                            <div class="cart-btn">
                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                            </div>
                        </div>
                        <a href="#" ui-sref="LayoutProductDetail({ProductId:product.product_id})">{{product.name}}</a>
                        <p ng-bind="product.Model"></p>
                        <span ng-bind="product.Price"></span>
                    </div>
                </div>
                <!--<div class="col-sm-3">
                        <div class="col-product text-center">
                            <div class="background-bg">
                                <img src="images/product2.jpg" alt="our-products">
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                            <a href="#">Watch Series 2</a>
                            <p>AP-178</p>
                            <span>92 Points</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-product text-center">
                            <div class="background-bg">
                                <img src="images/product3.jpg" alt="our-products">
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                            <a href="#">Watch Series 2</a>
                            <p>AP-178</p>
                            <span>92 Points</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-product text-center">
                            <div class="background-bg">
                                <img src="images/product4.jpg" alt="our-products">
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                            <a href="#">Watch Series 2</a>
                            <p>AP-178</p>
                            <span>92 Points</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-product text-center">
                            <div class="background-bg">
                                <img src="images/product5.jpg" alt="our-products">
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                            <a href="#">Watch Series 2</a>
                            <p>AP-178</p>
                            <span>92 Points</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-product text-center">
                            <div class="background-bg">
                                <img src="images/product6.jpg" alt="our-products">
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                            <a href="#">Watch Series 2</a>
                            <p>AP-178</p>
                            <span>92 Points</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-product text-center">
                            <div class="background-bg">
                                <img src="images/product7.jpg" alt="our-products">
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                            <a href="#">Watch Series 2</a>
                            <p>AP-178</p>
                            <span>92 Points</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-product text-center">
                        <div class="background-bg">
                            <img src="images/product8.jpg" alt="our-products">
                            <div class="cart-btn">
                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                            </div>
                        </div>
                        <a href="#">Watch Series 2</a>
                        <p>AP-178</p>
                        <span>92 Points</span>
                    </div>
                </div>-->


            </div>
        </div>
    </div>
</div>








<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/index.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //abous us
        $(".category-list, #aboutScroll").mCustomScrollbar();
        $(".showDesc").click(function () {
            var hidden = $(".about-us");
            if (hidden.hasClass("visible")) {
                hidden.animate({ "right": "-350px" }, "slow").removeClass("visible");
                $(".showDesc").animate({ "right": "-54px" }, "slow").removeClass("visible");
                $(".showDesc").text("About Us");
                $(".about-overlay").fadeOut("slow");

            } else {
                hidden.animate({ "right": "0px" }, "slow").addClass("visible");
                $(".showDesc").animate({ "right": "296px" }, "slow").addClass("visible");
                $(".showDesc").text("Close");
                $(".about-overlay").fadeIn("slow");
            }
        });
        $('#readMore').click(function () {
            $('.more-content').slideToggle();

            var LinkText = $("#readMore").text();
            LinkText = LinkText.replace(/\s/g, '');
            if (LinkText == "ReadMore") {
                $("#readMore").text("Read Less");
            }
            else {
                $("#readMore").text("Read More");
            }
        });

        //go to top
        if ($('#back-to-top').length) {
            var scrollTrigger = 100, // px
                backToTop = function () {
                    var scrollTop = $(window).scrollTop();
                    if (scrollTop > scrollTrigger) {
                        $('#back-to-top').addClass('show');
                    } else {
                        $('#back-to-top').removeClass('show');
                    }
                };
            backToTop();
            $(window).on('scroll', function () {
                backToTop();
            });
            $('#back-to-top').on('click', function (e) {
                e.preventDefault();
                $('html,body').animate({
                    scrollTop: 0
                }, 700);
            });
        }
    });

    //headertop fixed
    $(window).scroll(function () {
        if ($(this).scrollTop() > 1) {
            $('.top-header').addClass("hidden");
        }
        else {
            $('.top-header').removeClass("hidden");
        }
    });


</script>


<div class="catagories_slider productlist" ng-controller="ProductListLayoutController">
    <div class="container">
        <div class="col-md-3">
            <div class="letest-product catagories">
                <h3>CATAGORIES</h3>
                <div class="content mCustomScrollbar">
                    <ul>
                        <li ng-class="SelectedCategory.parent_Id==category.Category_Id? 'active' : '' " ng-if="category.parent_Id==0" ng-repeat="category in CategoryList">
                            <a href="#" ng-bind-html="category.name" ui-sref="LayoutCategory({CategoryId:category.Category_Id})"></a>
                            <ul class="sub-catagory">
                                <li ng-class="SelectedCategoryId==SubCategory.Category_Id? 'active' : '' " ng-if="(category.Category_Id==SubCategory.parent_Id)" ng-repeat="SubCategory in CategoryList | filter:{ parent_Id: ParentCategoryId }">
                                    <a href="#" ui-sref="LayoutProducts({CategoryId:SubCategory.Category_Id})">{{SubCategory.name}}</a>
                                </li>
                                <!--<li><a href="#">iPhone 7 Plus</a></li>
                                <li><a href="#">Watch Hermes</a></li>
                                <li><a href="#">Watch Series 2</a></li>
                                <li><a href="#">iMac</a></li>
                                <li><a href="#">Cables & Docks</a></li>
                                <li><a href="#">Apple TV</a></li>
                                <li><a href="#">Beats</a></li>-->
                            </ul>
                        </li>
                        <!--<li><a href="#">Baby</a></li>
                        <li><a href="#">Beauty & Fragrance</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Computing</a></li>
                        <li><a href="#">Cooking & Dining</a></li>
                        <li><a href="#">Home Appliances</a></li>
                        <li><a href="#">Smart Phones</a></li>
                        <li><a href="#">Sports & Leisure</a></li>
                        <li><a href="#">Sunglasses</a></li>
                        <li><a href="#">Watches & Jewellery</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Apple Products</a></li>
                        <li><a href="#">Baby</a></li>
                        <li><a href="#">Beauty & Fragrance</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Apple Products</a></li>
                        <li><a href="#">Baby</a></li>
                        <li><a href="#">Beauty & Fragrance</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Apple Products</a></li>
                        <li><a href="#">Baby</a></li>
                        <li><a href="#">Beauty & Fragrance</a></li>
                        <li><a href="#">Books</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 ">
            <div class="mt-30">
                <h3 class="heading" ng-bind="SelectedCategory.name"></h3>
                <div class="col-sm-3" ng-repeat="product in ProductList">
                    <div class="col-product text-center">
                        <div class="background-bg">
                            <img ng-src="{{product.Image}}" alt="product" />
                            <div class="cart-btn">
                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                            </div>
                        </div>
                        <a href="#" ui-sref="LayoutProductDetail({ProductId:product.product_id})">{{product.name}}</a>
                        <p ng-bind="product.Model"></p>
                        <span ng-bind="product.Price"></span>
                    </div>
                </div>
                <!--<div class="col-sm-3">
                        <div class="col-product text-center">
                            <div class="background-bg">
                                <img src="images/product2.jpg" alt="our-products">
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                            <a href="#">Watch Series 2</a>
                            <p>AP-178</p>
                            <span>92 Points</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-product text-center">
                            <div class="background-bg">
                                <img src="images/product3.jpg" alt="our-products">
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                            <a href="#">Watch Series 2</a>
                            <p>AP-178</p>
                            <span>92 Points</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-product text-center">
                            <div class="background-bg">
                                <img src="images/product4.jpg" alt="our-products">
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                            <a href="#">Watch Series 2</a>
                            <p>AP-178</p>
                            <span>92 Points</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-product text-center">
                            <div class="background-bg">
                                <img src="images/product5.jpg" alt="our-products">
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                            <a href="#">Watch Series 2</a>
                            <p>AP-178</p>
                            <span>92 Points</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-product text-center">
                            <div class="background-bg">
                                <img src="images/product6.jpg" alt="our-products">
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                            <a href="#">Watch Series 2</a>
                            <p>AP-178</p>
                            <span>92 Points</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-product text-center">
                            <div class="background-bg">
                                <img src="images/product7.jpg" alt="our-products">
                                <div class="cart-btn">
                                    <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                                </div>
                            </div>
                            <a href="#">Watch Series 2</a>
                            <p>AP-178</p>
                            <span>92 Points</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-product text-center">
                        <div class="background-bg">
                            <img src="images/product8.jpg" alt="our-products">
                            <div class="cart-btn">
                                <input type="button" name="cart_btn" class="add_cart" value="ADD TO CART">
                            </div>
                        </div>
                        <a href="#">Watch Series 2</a>
                        <p>AP-178</p>
                        <span>92 Points</span>
                    </div>
                </div>-->


            </div>
        </div>
    </div>
</div>








<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/index.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //abous us
        $(".category-list, #aboutScroll").mCustomScrollbar();
        $(".showDesc").click(function () {
            var hidden = $(".about-us");
            if (hidden.hasClass("visible")) {
                hidden.animate({ "right": "-350px" }, "slow").removeClass("visible");
                $(".showDesc").animate({ "right": "-54px" }, "slow").removeClass("visible");
                $(".showDesc").text("About Us");
                $(".about-overlay").fadeOut("slow");

            } else {
                hidden.animate({ "right": "0px" }, "slow").addClass("visible");
                $(".showDesc").animate({ "right": "296px" }, "slow").addClass("visible");
                $(".showDesc").text("Close");
                $(".about-overlay").fadeIn("slow");
            }
        });
        $('#readMore').click(function () {
            $('.more-content').slideToggle();

            var LinkText = $("#readMore").text();
            LinkText = LinkText.replace(/\s/g, '');
            if (LinkText == "ReadMore") {
                $("#readMore").text("Read Less");
            }
            else {
                $("#readMore").text("Read More");
            }
        });

        //go to top
        if ($('#back-to-top').length) {
            var scrollTrigger = 100, // px
                backToTop = function () {
                    var scrollTop = $(window).scrollTop();
                    if (scrollTop > scrollTrigger) {
                        $('#back-to-top').addClass('show');
                    } else {
                        $('#back-to-top').removeClass('show');
                    }
                };
            backToTop();
            $(window).on('scroll', function () {
                backToTop();
            });
            $('#back-to-top').on('click', function (e) {
                e.preventDefault();
                $('html,body').animate({
                    scrollTop: 0
                }, 700);
            });
        }
    });

    //headertop fixed
    $(window).scroll(function () {
        if ($(this).scrollTop() > 1) {
            $('.top-header').addClass("hidden");
        }
        else {
            $('.top-header').removeClass("hidden");
        }
    });


</script>
