<section class="my-account">
    <div class="container">
        <ul>
            <li>
                <p class="bag-desc">Payment of 130 points has been received.</p>
            </li>
        </ul>
    </div>
</section>
<section class="container cart-desc">
    <div class="col-sm-8">
        <div class="account-block">
            <div class="row">
                <div class="order-detail">
                    <p><span>Order ID:</span> #41354</p>
                    <p><span>Order placed Date:</span> 18/05/2017</p>
                    <p class="pull-right"><span>Payment Method:</span> Points Based Deduction</p>
                </div>
            </div>
            <div class="cart-detail">
                <div class="row">
                    <div class="col-md-7 col-sm-8">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="images/MD098ZM_A_1-120x120.jpg" alt="Image">
                            </div>
                            <div class="media-body">
                                <a href="#" class="media-heading">Apple 30-pin Digital AV Adapter</a>
                                <p class="model-no"><span>Modal Number:</span> 104</p>
                                <p class="model-no"><span>Quantity:</span> 2</p>
                                <p class="model-no"><span>Comment:</span> aghdfv kj vkh h u hui hui h uih uh uk hh fvcd vdfs vdfsfdsf</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-4">
                        <p class="product-price"><span>Points:</span> 40</p>
                        <p class="product-price">Subtotal: 80</p>
                    </div>
                </div>
            </div>
            <div class="cart-detail">
                <div class="row">
                    <div class="col-md-7 col-sm-8">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="images/MGRL2B_A_1-120x120.jpg" alt="Image">
                            </div>
                            <div class="media-body">
                                <a href="#" class="media-heading">Apple 5W USB Power Adapter</a>
                                <p class="model-no"><span>Modal Number:</span> 105</p>
                                <p class="model-no"><span>Quantity:</span> 1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-4">
                        <p class="product-price"><span>Points:</span> 50</p>
                        <p class="product-price">Subtotal: 50</p>
                    </div>
                </div>
            </div>
            <div class="cart-detail">
                <ul class="order-status">
                    <li class="completed">
                        <i class="fa fa-check"></i>
                        <span>Order Received</span>
                    </li>
                    <li class="completed">
                        <i class="fa fa-check"></i>
                        <span>Shipped</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span>Delivered</span>
                    </li>
                </ul>
                <div class="remove-product">
                    <button class="remove-item"><i class="fa fa-phone"></i> Contact Us</button>
                    <!-- <button class="remove-item"><i class="fa fa-file-text-o"></i> Invoice</button> -->
                </div>
            </div>
            <div class="payment-summary">
                <button class="remove-item pull-right"><i class="fa fa-arrow-left"></i> Back to Orders</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4 order-desc">
        <div class="account-block delivery-detail">
            <h4 class="payment-heading">Delivery Address</h4>
            <div class="payment-summary">
                <span>Nitin Patel</span>
                <p>100, College Road, Harrow, London Ha1 1BQ </p>
            </div>
        </div>
        <div class="account-block">
            <h4 class="payment-heading">Payment Summary</h4>
            <div class="payment-summary">
                <p>- Apple 30-pin Digital AV Adapter</p>
                <p>80 points</p>
                <p>- Apple 5W USB Power Adapter</p>
                <p>50 points</p>
            </div>
            <div class="payment-summary last">
                <span>Order Total:</span>
                <span>130 points</span>
            </div>
        </div>
    </div>
</section>