<div class="container" ng-controller="RewardController">
    <div class="my-account mt-30">
        <div class="col-sm-12">
            <div class="points ">
                <h3>{{PageTitle}}</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-30 text-center table-responsive">
        <table class="table table-striped">
            <thead class="thead-default">
                <tr>
                    <th>Customer</th>
                    <th>Medal</th>
                    <th>comment</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Item in MyRewardList">
                    <td ng-bind="Item.Customer"></td>
                    <td ng-bind="Item.Medal"></td>
                    <td ng-bind="Item.comment"></td>
                    <td ng-bind="Item.reward_given_date | date:'MM/dd/yyyy'"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>