
 <div class="container">
        <div class="my-account mt-30">
            <div class="col-sm-12">
                <div class="points personal-info">
                    <h3>Personal information</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-controller="ProfileController">
    <div class="col-sm-12">
        <div class="account-block profile-block">
            <a class="edit-profile" href="javascript:;"><i class="fa fa-pencil"></i></a>
            <a class="update-profile" ng-click="SaveCustomerBasicDetails(ProfileForm)" href=""><i class="fa fa-check"></i></a>
            <div class="col-sm-12" id="editProfile">
                <div class="row">
                    <div class="col-md-2 col-sm-3">
                        <p>Name:</p>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <span ng-bind="GetCustomerDetailObj.firstname +' '+ GetCustomerDetailObj.lastname"></span>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <p>Email ID:</p>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <span ng-bind="GetCustomerDetailObj.email"></span>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <p>Mobile Number:</p>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <span ng-bind="GetCustomerDetailObj.telephone"></span>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <p>Points:</p>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <span ng-bind="GetCustomerDetailObj.points"></span>
                    </div>
                    <!--<div class="col-md-2 col-sm-3">
                        <p>Date of Birth:</p>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <span>12/05/1889</span>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <p>Gender:</p>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <span>Male</span>
                    </div>-->
                </div>
            </div>
            <div class="col-sm-12" id="cancelProfile">
                <div class="row">
                    <form name="ProfileForm" id="ProfileForm" class="form-horizontal" novalidate>


                        <div role="tabpanel" class="form-horizontal" id="messages" style="margin-top:8px">
                            <div class="alert alert-danger alert-dismissible validationErrors" ng-show="ProfileForm.$submitted && !ProfileForm.$valid">
                                <ul ng-show="validationErrors">
                                    <li ng-repeat="error in validationErrors">{{error}}</li>
                                </ul>
                                <ul ng-show="ProfileForm.$submitted && (!ProfileForm.$valid)">
                                    <li ng-show="ProfileForm.FirstName.$error.required">First name is required.</li>
                                    <li ng-show="ProfileForm.LastName.$error.required">Last name is required.</li>
                                    <li ng-show="ProfileForm.EmailAddress.$error.required || ProfileForm.EmailAddress.$error.email">Email address is not valid.</li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <label>First Name</label>
                            <input type="text" class="form-control" maxlength="32" name="FirstName" ng-model="GetCustomerDetailObj.firstname" required="required" />
                        </div>
                        <div class="col-sm-6">
                            <label>Last Name</label>
                            <input type="text" class="form-control" maxlength="32" name="LastName" ng-model="GetCustomerDetailObj.lastname" required="required" />
                        </div>
                        <div class="col-sm-6">
                            <label>Email Address</label>
                            <input type="email" class="form-control" maxlength="96" name="EmailAddress" ng-model="GetCustomerDetailObj.email" required="required" />
                        </div>
                        <div class="col-sm-6">
                            <label>Mobile Number</label>
                            <input type="text" maxlength="32" class="form-control" ng-model="GetCustomerDetailObj.telephone" />
                        </div>
                        <!--<div class="col-sm-4">
                            <label>Date of Birth</label>
                            <input type="text" class="form-control" value="12/05/1889" />
                        </div>
                        <div class="col-sm-4">
                            <div class="radio-button">
                                <input id="radio-1" class="radio-custom" name="radio-group" checked="" type="radio">
                                <label for="radio-1" class="radio-custom-label">Male</label>
                                <input id="radio-2" class="radio-custom" name="radio-group" type="radio">
                                <label for="radio-2" class="radio-custom-label">Female</label>
                            </div>
                        </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>






    <script type="text/javascript">
        $(document).ready(function () {
            //productimage zooming

            // aboutus
            //$(".category-list, #aboutScroll").mCustomScrollbar();
            $(".showDesc").click(function () {
                var hidden = $(".about-us");
                if (hidden.hasClass("visible")) {
                    hidden.animate({ "right": "-350px" }, "slow").removeClass("visible");
                    $(".showDesc").animate({ "right": "-54px" }, "slow").removeClass("visible");
                    $(".showDesc").text("About Us");
                    $(".about-overlay").fadeOut("slow");

                } else {
                    hidden.animate({ "right": "0px" }, "slow").addClass("visible");
                    $(".showDesc").animate({ "right": "296px" }, "slow").addClass("visible");
                    $(".showDesc").text("Close");
                    $(".about-overlay").fadeIn("slow");
                }
            });
            $('#readMore').click(function () {
                $('.more-content').slideToggle();

                var LinkText = $("#readMore").text();
                LinkText = LinkText.replace(/\s/g, '');
                if (LinkText == "ReadMore") {
                    $("#readMore").text("Read Less");
                }
                else {
                    $("#readMore").text("Read More");
                }
            });

            // edit profile
            $(".edit-profile").click(function () {
                if ($(".update-profile, #cancelProfile").is(
                ":visible")) {
                    $(".update-profile").hide();
                    $("#cancelProfile").hide();
                    $("#editProfile").show();
                }
                else {
                    $(".update-profile").show();
                    $("#cancelProfile").show();
                    $("#editProfile").hide();
                }
                $(".edit-profile i").toggleClass("fa-pencil fa-close");
            });

            //go to top
            if ($('#back-to-top').length) {
                var scrollTrigger = 100, // px
                    backToTop = function () {
                        var scrollTop = $(window).scrollTop();
                        if (scrollTop > scrollTrigger) {
                            $('#back-to-top').addClass('show');
                        } else {
                            $('#back-to-top').removeClass('show');
                        }
                    };
                backToTop();
                $(window).on('scroll', function () {
                    backToTop();
                });
                $('#back-to-top').on('click', function (e) {
                    e.preventDefault();
                    $('html,body').animate({
                        scrollTop: 0
                    }, 700);
                });
            }
        });

        //headertop fixed
        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('.top-header').addClass("hidden");
            }
            else {
                $('.top-header').removeClass("hidden");
            }
        });
        $(document).ready(function () {
            var native_width = 0;
            var native_height = 0;
            $(".large").css("background", "url('" + $(".small").attr("src") + "') no-repeat");
            $(".magnify").mousemove(function (e) {
                if (!native_width && !native_height) {
                    var image_object = new Image();
                    image_object.src = $(".small").attr("src");
                    native_width = image_object.width;
                    native_height = image_object.height;
                }
                else {
                    var magnify_offset = $(this).offset();
                    var mx = e.pageX - magnify_offset.left;
                    var my = e.pageY - magnify_offset.top;
                    if (mx < $(this).width() && my < $(this).height() && mx > 0 && my > 0) {
                        $(".large").fadeIn(100);
                    }
                    else {
                        $(".large").fadeOut(100);
                    }
                    if ($(".large").is(":visible")) {
                        var rx = Math.round(mx / $(".small").width() * native_width - $(".large").width() / 2) * -1;
                        var ry = Math.round(my / $(".small").height() * native_height - $(".large").height() / 2) * -1;
                        var bgp = rx + "px " + ry + "px";
                        var px = mx - $(".large").width() / 2;
                        var py = my - $(".large").height() / 2;
                        $(".large").css({ left: px, top: py, backgroundPosition: bgp });
                    }
                }
            })
        });

    </script>
