    <div class="container" ng-controller="OrderHistoryController">
    <div class="my-account mt-30">
        <div class="col-sm-12">
            <div class="points ">
                <h3>Order History</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-12 pt-30 table-responsive text-center">
        <table class="table table-striped">
            <thead class="thead-default">
                <tr>
                    <th>Order Id</th>
                    <th>Order Status</th>
                    <th>Date</th>
                    <th>No. of Product</th>
                    <th>Customer Name</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-bind="'#'+Item.order_id"></td>
                    <td ng-bind="Item.OrderStatusName"></td>
                    <td ng-bind="Item.date_added | date:'dd/MM/yyyy'"></td>
                    <td ng-bind="Item.TotalQtyInOrder"></td>
                    <td ng-bind="(Item.firstname) + (Item.lastname)">l</td>
                    <td ng-bind="Item.OrderTotalText"></td>
                    <td><a href="#"><i class="fa fa-eye"></i></a></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/enhance.js"></script>
    <script src="js/velocity.min.js"></script>




    <script type="text/javascript">
    $(document).ready(function(){
      //productimage zooming

      // aboutus
      $(".category-list, #aboutScroll").mCustomScrollbar();
      $(".showDesc").click(function () {
			var hidden = $(".about-us");
			if (hidden.hasClass("visible")) {
				hidden.animate({ "right": "-350px" }, "slow").removeClass("visible");
				$(".showDesc").animate({ "right": "-54px" }, "slow").removeClass("visible");
				$(".showDesc").text("About Us");
				$(".about-overlay").fadeOut("slow");

			} else {
				hidden.animate({ "right": "0px" }, "slow").addClass("visible");
				$(".showDesc").animate({ "right": "296px" }, "slow").addClass("visible");
				$(".showDesc").text("Close");
				$(".about-overlay").fadeIn("slow");
			}
		});
        $('#readMore').click(function () {
			$('.more-content').slideToggle();

			var LinkText = $("#readMore").text();
			LinkText = LinkText.replace(/\s/g, '');
			if (LinkText == "ReadMore") {
				$("#readMore").text("Read Less");
			}
			else {
				$("#readMore").text("Read More");
			}
		});

      // edit profile
      $(".edit-profile").click(function(){
        if ($(".update-profile, #cancelProfile").is(
        ":visible")) {
          $(".update-profile").hide();
          $("#cancelProfile").hide();
          $("#editProfile").show();
        }
        else {
          $(".update-profile").show();
          $("#cancelProfile").show();
          $("#editProfile").hide();
        }
        $(".edit-profile i").toggleClass("fa-pencil fa-close");
      });

      //go to top
      if ($('#back-to-top').length) {
        var scrollTrigger = 100, // px
            backToTop = function () {
                var scrollTop = $(window).scrollTop();
                if (scrollTop > scrollTrigger) {
                    $('#back-to-top').addClass('show');
                } else {
                    $('#back-to-top').removeClass('show');
                }
            };
        backToTop();
        $(window).on('scroll', function () {
            backToTop();
        });
        $('#back-to-top').on('click', function (e) {
            e.preventDefault();
            $('html,body').animate({
                scrollTop: 0
            }, 700);
          });
        }
    });

    //headertop fixed
    $(window).scroll(function() {
    if ($(this).scrollTop() > 1){
        $('.top-header').addClass("hidden");
      }
      else{
        $('.top-header').removeClass("hidden");
      }
    });
 $(document).ready(function(){
    var native_width = 0;
  var native_height = 0;
  $(".large").css("background","url('" + $(".small").attr("src") + "') no-repeat");
  $(".magnify").mousemove(function(e){
    if(!native_width && !native_height)
    {
      var image_object = new Image();
      image_object.src = $(".small").attr("src");
      native_width = image_object.width;
      native_height = image_object.height;
    }
    else
    {
      var magnify_offset = $(this).offset();
      var mx = e.pageX - magnify_offset.left;
      var my = e.pageY - magnify_offset.top;
      if(mx < $(this).width() && my < $(this).height() && mx > 0 && my > 0)
      {
        $(".large").fadeIn(100);
      }
      else
      {
        $(".large").fadeOut(100);
      }
      if($(".large").is(":visible"))
      {
        var rx = Math.round(mx/$(".small").width()*native_width - $(".large").width()/2)*-1;
        var ry = Math.round(my/$(".small").height()*native_height - $(".large").height()/2)*-1;
        var bgp = rx + "px " + ry + "px";
        var px = mx - $(".large").width()/2;
        var py = my - $(".large").height()/2;
        $(".large").css({left: px, top: py, backgroundPosition: bgp});
      }
    }
  })
    });

    </script>
