<div ng-controller="ManageCategoryController">
    <form name="form" id="form" class="form-horizontal" novalidate>
        <div class="page-header">
            <div class="page-header-content">
                <div class="page-title">
                    <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home -</span> {{PageTitle}}</h4>
                </div>
                <div class="heading-elements">
                    <div class="heading-btn-group">
                    </div>
                </div>
            </div>
            <div class="breadcrumb-line">
                <ul class="breadcrumb">
                    <li>  This page allows you to manage category.</li>
                </ul>
                <ul class="breadcrumb-elements">
                    <li>
                        <button type="button" ui-sref="ShowCategory" class="btn btn-default cursor-pointer"><i class="icon-arrow-left13 position-left"></i>Cancel </button> &nbsp;
                    </li>
                    <li>
                        <button type="submit" ng-click="SaveCategory(form)" class="btn btn-success cursor-pointer">Save <i class="icon-arrow-right14 position-right"></i></button>&nbsp;
                    </li>
                    <li ng-if="IsEditMode==true">
                        <button type="button" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Delete Category" ng-click="DeleteCategory(CategoryId)"><i class="glyphicon glyphicon-trash position-left"></i> Delete</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-header-content">
            <!-- Centered forms -->
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">

                                    <div role="tabpanel" class="form-horizontal" id="messages">
                                        <div class="alert alert-danger alert-dismissible validationErrors" ng-show="form.$submitted && !form.$valid">
                                            <ul ng-show="validationErrors">
                                                <li ng-repeat="error in validationErrors">{{error}}</li>
                                            </ul>
                                            <ul ng-show="form.$submitted && (!form.$valid)">
                                                <li ng-show="form.Category_Name_English.$error.required">Category Name is required.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="tabbable">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a data-target="#GenaralTab" role="tab" data-toggle="tab">General</a></li>
                                    <li role="presentation"><a data-target="#DataTab" role="tab" data-toggle="tab">Data</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="GenaralTab">
                                        <!--General Tab-->
                                        <div class="tab-content">
                                            <div class="tab-pane active in" id="tab-general">
                                                <!--language tab-->
                                                <ul class="nav nav-tabs" id="languages">

                                                    <li id="{{LangObj.language_id}}" ng-class="$index==0 ? 'active':''" ng-repeat="LangObj in languageList">
                                                        <a data-target="#{{LangObj.language_id}}" data-toggle="tab" aria-expanded="true">
                                                            <img ng-src="../../../Content/admin/images/flags/{{LangObj.image}}" title="{{LangObj.name}}"> {{LangObj.name}}
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!--End Language Tab-->
                                                <div class="tab-content">
                                                    <div class="tab-pane {{$index}}" id="{{LangObj.language_id}}" ng-class="$index==0 ? 'active':''" data-ng-repeat="LangObj in languageList">
                                                        <div class="form-group required">
                                                            <label class="col-lg-2 control-label mandatoryField" for="input-name1">Category Name</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="CategoryNameLang_{{LangObj.code}}" ng-model="CategoryObj.CategoryDescriptionList[$index].name" placeholder="Category Name" id="CategoryNameLang_{{LangObj.code}}" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group required">
                                                            <label class="col-sm-2 control-label" for="input-description1">Description</label>
                                                            <div class="col-sm-10">
                                                                <textarea ckeditor="" name="CategoryDescriptionLang_{{LangObj.code}}" ng-model="CategoryObj.CategoryDescriptionList[$index].description" placeholder="Description" id="CategoryDescriptionLang_{{LangObj.code}}" class="form-control"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End General Tab-->
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="DataTab">
                                        <div class="tab-pane fade active in" id="tab-data">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-parent">Parent</label>
                                                <div class="col-sm-10">
                                                    <input type="text" ng-model="CategoryObj.Parent" name="path" value="" placeholder="Parent" id="input-parent" class="form-control" autocomplete="off"><ul class="dropdown-menu" style="top: 35px; left: 15px; display: none;"><li data-value="0"><a href="#"> --- None --- </a></li><li data-value="50"><a href="#">Writing Instruments&nbsp;&nbsp;&gt;&nbsp;&nbsp;Accessories</a></li><li data-value="116"><a href="#">Writing Instruments&nbsp;&nbsp;&gt;&nbsp;&nbsp;Ballpoint</a></li><li data-value="39"><a href="#">Writing Instruments&nbsp;&nbsp;&gt;&nbsp;&nbsp;Fine Liner</a></li><li data-value="20"><a href="#">Writing Instruments&nbsp;&nbsp;&gt;&nbsp;&nbsp;Fountain Pen</a></li><li data-value="45"><a href="#">Writing Instruments&nbsp;&nbsp;&gt;&nbsp;&nbsp;Rollerball</a></li></ul>
                                                    <input type="hidden" name="parent_id" value="0">
                                                </div>
                                            </div>
                                            <!--<div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-filter"><span data-toggle="tooltip" title="" data-original-title="(Autocomplete)">Filters</span></label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="filter" value="" placeholder="Filters" id="input-filter" class="form-control" autocomplete="off"><ul class="dropdown-menu" style="display: none;"></ul>
                                                    <div id="category-filter" class="well well-sm" style="height: 150px; overflow: auto;">
                                                    </div>
                                                </div>
                                            </div>-->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Stores</label>
                                                <div class="col-sm-10">
                                                    <div class="well well-sm" style="height: 150px; overflow: auto;">
                                                        <!--<a ng-repeat="Item in CategoryObj.CategoryStoreList.CategoryStore">
                                                            <input type="checkbox" class="cursor-pointer" ng-model="Item.IsSelected"><label>&nbsp;&nbsp;{{Item.StoreName}}</label>
                                                        </a>-->

                                                        <div class="col-sm-6 checkbox" ng-repeat="Item in CategoryObj.CategoryStoreList.CategoryStore">
                                                            <label>
                                                                <input type="checkbox" class="cursor-pointer" ng-model="Item.IsSelected" name="category_store[]">
                                                                {{Item.StoreName}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-keyword"><span data-toggle="tooltip" title="" data-original-title="Do not use spaces, instead replace spaces with - and make sure the keyword is globally unique.">SEO Keyword</span></label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="keyword" value="" placeholder="SEO Keyword" id="input-keyword" class="form-control">
                                                </div>
                                            </div>-->
                                            <!--<div class="form-group">
                                                <label class="col-sm-2 control-label">Image</label>
                                                <div class="col-sm-10">
                                                    <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="http://webapp2.cordobarewards.co.uk/image/cache/no_image-100x100.png" alt="" title="" data-placeholder="http://webapp2.cordobarewards.co.uk/image/cache/no_image-100x100.png"></a>
                                                    <input type="hidden" name="image" value="" id="input-image">
                                                </div>
                                            </div>-->
                                            <!--<div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-top"><span data-toggle="tooltip" title="" data-original-title="Display in the top menu bar. Only works for the top parent categories.">Top</span></label>
                                                <div class="col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="top" value="1" id="input-top">
                                                            &nbsp;
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>-->
                                            <!--<div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-column"><span data-toggle="tooltip" title="" data-original-title="Number of columns to use for the bottom 3 categories. Only works for the top parent categories.">Columns</span></label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="column" value="0" placeholder="Columns" id="input-column" class="form-control">
                                                </div>
                                            </div>-->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-sort-order">Sort Order</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="sort_order" value="0" placeholder="Sort Order" id="input-sort-order" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-status">Status</label>
                                                <div class="col-sm-10">
                                                    <select ng-options="Status.ID as Status.Name  for Status in CategoryStatus"
                                                            class="form-control" ng-model="CategoryObj.status" name="CategoryStatus"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /form centered -->
        </div>
    </form>
</div>









