<div ng-controller="ViewCustomerRewardController">
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i>  {{PageTitle}} - {{RewardName}}</h4>
            </div>
            <div class="heading-elements">
                <div class="heading-btn-group">

                </div>
            </div>
        </div>
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>  This page allows you to lookup customers of rewards.</li>
            </ul>
            <!--<ul class="breadcrumb-elements">
                <li><button type="button" class="btn btn-primary btn-md" data-placement="top" data-toggle="tooltip" title="Add New Reward" ui-sref="ManageReward"><i class="glyphicon glyphicon-plus-sign position-left"></i> New Reward</button></li>
            </ul>-->
        </div>
    </div>
    <div class="page-header-content">

        <table class="table table-bordered table-striped datatable-responsive" datatable="ng" id="tblCustomerReward" dt-options="dtOptions" width="100%">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Rewards (Medal)</th>
                    <th>IsWinner</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Item in ViewRewards">
                    <td ng-bind="Item.Customer"></td>
                    <td ng-bind="Item.Rewards"></td>
                    <td ng-bind="Item.IsWinner"></td>
                    <td class="cursor-pointer text-center">
                        <a ui-sref="ViewRewardCustomerDetails({rewarduserid:Item.reward_user_id,customername:Item.Customer})" data-placement="top" data-toggle="tooltip" title="View Customer Reward Details"> <i class="glyphicon glyphicon-eye-open cursor-pointer"></i></a>
                    </td>
                    <!--<td class="cursor-pointer text-center">
                        <a ui-sref="ManageReward({rewardId:Item.id})" data-placement="top" data-toggle="tooltip" title="Edit"> <i class="glyphicon glyphicon-edit cursor-pointer"></i></a>
                        <a ui-sref="ViewReward({rewardId:Item.id})" data-placement="top" data-toggle="tooltip" title="View"> <i class="glyphicon glyphicon-eye-open cursor-pointer"></i></a>
                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>
</div>
